/*Vars*/

/*Margins*/
.top-12 {
	margin-top: 12px;
}

.bottom-12 {
	margin-bottom: 12px;
}

/*Styles*/
hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}

hr.style15:after {
	content: "§";
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}

.table .order-inactive {
	color: #a4a4a4;
	text-decoration: line-through;
}

.box-content .display {
	display: block;
}

.fa-plus-box {
	display: none;
}

.messages > .container {
    float: left!important;
}

.btn-default{
	transition: background 0.2s ease-out, border 0.2s ease-out;
}

.btn-success{
	background: #b9436f;
	border-color: #b9436f;
	transition: background 0.2s ease-out, border 0.2s ease-out;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:active:focus{
	background: #aa3f66;
	border-color: #aa3f66;
}

.btn-primary{
	background: #eea743;
	border-color: #eea743;
	transition: background 0.2s ease-out, border 0.2s ease-out;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus{
	background: #e09e41 !important;
	border-color: #e09e41 !important;
}

.box.box-primary{
	border-top-color: #b7436e;
}

.box.box-warning{
	border-top-color: #eea743;
}

.dropdown-menu{
	background: #b9436f;
	border-top: 1px solid #b9436f;
	transition: display 5s ease-out;
}

.box-header>.box-tools{
	top: 3px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
	background: #b9436f;
	border-color: #b9436f;
	transition: background 0.2s ease-out, border 0.2s ease-out;
}

.skin-red .main-header .logo{
	background: #1c2326;
	line-height: 47px;
}

.sidebar-toggle{
	transition: background 0.2s ease-out, color 0.2s ease-out;
}

.sidebar-toggle:hover{
	color: #eda841 !important;
	background-color: #222d32 !important;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu{
	background: #b9436f;
	border-top: 1px solid #b9436f;
}

.nav-tabs-custom > .nav-tabs > li.active {
	border-top-color: #B9436F;
}

.bg-secondary, .bg-secondary:focus, .bg-secondary:hover {
	background: #EFA841;
	color: #fff;
}

.box.box-success {
	border-top-color: #BA4170;
}

.box-subtitle {
	padding: 1rem;
	color: #777777;
	font-size: 1.3rem;
}

.box-subtitle > hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.btn.btn-clean {
	background: none;
	border: none;
}

.help-block {
	font-size: 1.2rem;
}

.input-align {
	vertical-align: top;
}