{% extends 'main/base.html' %}

{% load staticfiles %}

{% load i18n %}

{% block aditional_head %}{% endblock aditional_head %}

{% block page_title %}P&aacute;gina n&atilde;o encontrada{% endblock %}

{% block page-header %} 404 Página Não Encontrada {% endblock page-header %}

{% block page-sub-header %} {% endblock page-sub-header %}

{% block content %}
	
  <!-- Main content -->
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-yellow"> 404</h2>

      <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! A página não foi encontrada.</h3>

        <p>
          Nós não conseguimos achar a página que você está procurando. Retorne para a
          <a href="{% url 'home' %}">página inicial</a> ou tente usar o campo de pesquisa abaixo.
        </p>

        <form class="search-form" method='GET' action="{% url 'home' %}">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="{% trans 'Pesquisar...' %}">

            <div class="input-group-btn">
              <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
              </button>
            </div>

          </div>
          <!-- /.input-group -->
        </form>
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
  <!-- /.content -->

{% endblock content %}
