﻿<!DOCTYPE html>
<html lang="pt">
 <head>

  {% load i18n %}

  {% load staticfiles %}

  {% load custom_tags %}

  <!-- Meta Tags -->
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="author" content="Bruno A. Lucena">

  <title>{% block title %} Dia da Noiva {% endblock %}</title>

  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">

  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'main/css/ionicons.min.css' %}">

  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'main/css/AdminLTE.min.css' %}">

  <!-- AdminLTE Skins. Choose a skin from the css/skins -->
  <link rel="stylesheet" href="{% static 'main/css/skin-pink.min.css' %}">

  <!-- jvectormap -->
  <link rel="stylesheet" href="{% static 'main/css/jquery-jvectormap.css' %}">

  <!-- Date Picker -->
  <link rel="stylesheet" href="{% static 'main/css/bootstrap-datepicker.min.css' %}">

  <!-- Daterange picker -->
  <link rel="stylesheet" href="{% static 'main/css/daterangepicker.css' %}">

  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{% static 'main/css/all.css' %}">

  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="{% static 'main/css/bootstrap-colorpicker.min.css' %}">

  <!-- Bootstrap time Picker -->
  <link rel="stylesheet" href="{% static 'main/css/bootstrap-timepicker.min.css' %}">

  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'main/css/select2.min.css' %}">

  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="{% static 'main/css/bootstrap3-wysihtml5.min.css' %}">

  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'main/css/dataTables.bootstrap.min.css' %}">

  <link rel="stylesheet" href="{% static 'main/css/morris.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- [if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  [endif] -->

  <!-- Google Font -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"> -->

  <!-- Css -->
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />

  {% block extrastyle %} {% endblock extrastyle %}

</head>
<body class="hold-transition skin-red sidebar-mini {% block bodyclass %} {% endblock bodyclass %}">

  <!-- urls -->
  {% url 'cadastro_rapido' as cadastro_rapido %}
  {% url 'criar_usuario' as criar_usuario %}
  {% url 'home' as home %}
  {% url 'propostas' as propostas %}
  {% url 'servicos' as servicos %}
  {% url 'usuarios' as usuarios %}
  <!-- /urls -->

  <div class="wrapper">
    {% block wrapper %}
      {% block header %}
        <header class="main-header">
          <!-- Logo -->
          <a href="{% url 'home' %}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b><img src="{% static 'main/img/logo/logo-rings-xs.png' %}" height="25" /></b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b><img src="{% static 'main/img/logo/logo-wide-xs.png' %}" height="40" /></b></span>
          </a>
          <!-- Header Navbar: style can be found in header.less -->
          <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
              <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{% static 'main/img/anonymous-user.png' %}" class="user-image" alt="User Image">
                    <span class="hidden-xs">{{ user.username }}</span>
                  </a>
                  <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                      {% if person.admin %}
                        <a href="{% url 'editar_usuario' user.id %}">
                          <img src="{% static 'main/img/anonymous-user.png' %}" class="img-circle" alt="User Image">
                        </a>
                      {% else %}
                        <img src="{% static 'main/img/anonymous-user.png' %}" class="img-circle" alt="User Image">
                      {% endif %}
                      <p>
                        {{ user.get_full_name }} {% if user.person.role %} - {% trans user.person.role %} {% endif %}

                        {# Translators: Data que o usuario registrou #}
                        <small>
                          {% blocktrans with date=user.date_joined|date:"d/m/Y" %}Membro desde {{ date }} {% endblocktrans %}
                        </small>
                      </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                      {% if person.admin %}
                        <div class="pull-left">
                          <a href="{% url 'editar_usuario' user.id %}" class="btn btn-default btn-flat">Perfil</a>
                        </div>
                       {% endif %}
                      <div class="pull-right">
                        <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Sair</a>
                      </div>
                    </li>
                  </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <!-- <li>
                  <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li> -->
              </ul>
            </div>
          </nav>
        </header>
      {% endblock header %}

      <!-- =============================================== -->

      {% block menu-left %}
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
          <!-- sidebar: style can be found in sidebar.less -->
          <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
              <div class="pull-left image">
                <img src="{% static 'main/img/anonymous-user.png' %}" class="img-circle" alt="User Image">
              </div>
              <div class="pull-left info">
                <p>{{ user.get_full_name }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
              </div>
            </div>
            <!-- search form -->
            <form class="sidebar-form" method='GET' action="{% url 'home' %}">
              <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="{% trans 'Pesquisar...' %}">
                <span class="input-group-btn">
                  <button type="submit" name="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
              <li class="header">MENU PRINCIPAL</li>
              <li {% if current_page == home and propostas not in current_page %} class="active" {% endif %}>
                <a href="{% url 'home' %}">
                  <i class="fa fa-circle-o-notch"></i> <span>Clientes</span>
                </a>
              </li>
              <li {% if cadastro_rapido in current_page %} class="active" {% endif %}>
                <a href="{% url 'cadastro_rapido' %}">
                  <i class="fa fa-edit"></i> <span>Cadastro Rápido</span>
                </a>
              </li>
              <li {% if propostas in current_page %} class="active" {% endif %}>
                <a href="{% url 'propostas' %}">
                  <i class="fa fa-table"></i> <span>Propostas</span>
                </a>
              </li>
              {% if person.admin %}
                <li class="header">ADMIN</li>
                <li {% if usuarios in current_page %} class="treeview active" {% else %} class="treeview" {% endif %}>
                  <a href="#">
                    <i class="fa fa-user"></i> <span>Usuários</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li {% if current_page == usuarios %} class="active" {% endif %}><a href="{% url 'usuarios' %}"><i class="fa fa-circle-o"></i> Ver Usuários</a></li>
                    <li {% if current_page == criar_usuario %} class="active" {% endif %}><a href="{% url 'criar_usuario' %}"><i class="fa fa-circle-o"></i> Criar Usuário</a></li>
                  </ul>
                </li>
                <li {% if servicos in current_page %} class="treeview active" {% else %} class="treeview" {% endif %}>
                  <a href="#">
                    <i class="fa fa-barcode"></i> <span>Serviços</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li {% if current_page == servicos %} class="active" {% endif %}><a href="{% url 'servicos' %}"><i class="fa fa-circle-o"></i> Ver Serviços</a></li>
                    <li {% if current_page == criar_servico %} class="active" {% endif %}><a href="{% url 'criar_servico' %}"><i class="fa fa-circle-o"></i> Criar Serviço</a></li>
                  </ul>
                </li>
                <li {% if configuracoes in current_page %} class="active" {% endif %}>
                  <a href="{% url 'configuracoes' %}">
                    <i class="fa fa-gear"></i> <span>Configurações</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </section>
          <!-- /.sidebar -->
        </aside>
      {% endblock menu-left %}

      <!-- =============================================== -->

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        {% block content-wrapper %}
          {% block content-header %}
            <!-- Content Header (Page header) -->
            <section class="content-header">
              <h1>
                {% block page-header %} Clientes {% endblock page-header %}
                <small> {% block page-sub-header %} todos os clientes {% endblock page-sub-header %} </small>
              </h1>
              <ol class="breadcrumb">
                {% block breadcrumb-clean %}

                <li class="active"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Início</a></li>

                {% endblock %}

                {% block breadcrumb %}

                {% load breadcrumb_tags %}

                {% add_crumb 'Início' 'home' %}

                {% endblock %}

                {% render_breadcrumbs %}
              </ol>
            </section>
          {% endblock content-header %}

          <section class="messages">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <p><br>
                    {% block messages %}
                      {% if search %}
                        {% if results|length < 1 %}
                          <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-warning"></i>Nenhum resultado encontrado para <em>"{{ search }}"</em>!</h4>
                          </div>
                        {% else %}
                          <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4>Mostrando {{ results|length }} resultado{{ results|pluralize }} para <em>"{{ search }}"</em>!</h4>
                          </div>
                        {% endif %}
                      {% endif %}
                    {% endblock messages %}
                  </p>
                </div>
              </div>
            </div>
          </section>

          {% block content %}
            <section class="content">
              <div class="row">
                <div class="col-xs-12">
                  <div class="box box-primary">
                    <div class="box-header">
                      <h3 class="box-title">Clientes</h3>
                      <span class="pull-right">
                        <a href="{% url 'cadastro_rapido' %}" class="btn btn-block btn-success"><i class="fa fa-plus"></i> Novo Cliente</a>
                      </span>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                      <table id="orders-table" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>Cod. Cliente</th>
                          <th>Cliente</th>
                          <th>Data de Casamento</th>
                          <th>Telefone</th>
                          <th>Data de Retorno</th>
                          <th>Status</th>
                          <th class="hidden">Hidden Field To Order By Date Return</th>
                          <th class="hidden">Hidden Field To Order By Date Wedding</th>
                        </tr>
                        </thead>
                        <tbody>
                          {% if search %}
                            {% for tree in results %}
                              <tr {% if tree.date_return < today and tree.status != '3'%} class="danger" {% elif tree.status == '3' %} class="order-inactive" {% endif %}>
                                <td><a href="{% url 'cliente' tree.id %}">{{ tree.id }}</a></td>
                                <td><a href="{% url 'cliente' tree.id %}">{{ tree.name }} {{ tree.lastname }}</a></td>
                                <td>{{ tree.date_wedding|date:"d/m/Y" }}</td>
                                <td>{{ tree.phone }}</td>
                                <td>{{ tree.date_return|date:"d/m/Y" }}</td>
                                <td>
                                  {% if tree.status == '0' %}
                                    <span class="hidden">{{ tree.status }}</span> Enviado
                                  {% elif tree.status == '1' %}
                                    <span class="hidden">{{ tree.status }}</span> Negociando
                                  {% elif tree.status == '2' %}
                                    <span class="hidden">{{ tree.status }}</span> Fechamento
                                  {% elif tree.status == '3' %}
                                    <span class="hidden">{{ tree.status }}</span> Finalizado
                                  {% endif %}
                                </td>
                                <td class="hidden">{{ tree.date_return|date:"Y/m/d" }}</td>
                                <td class="hidden">{{ tree.date_wedding|date:"Y/m/d" }}</td>
                              </tr>
                            {% endfor %}
                          {% else %}
                            {% for tree in orders %}
                              <tr {% if tree.date_return < today and tree.status != '3'%} class="danger" {% elif tree.status == '3' %} class="order-inactive" {% endif %}>
                                <td><a href="{% url 'cliente' tree.id %}">{{ tree.id }}&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
                                <td><a href="{% url 'cliente' tree.id %}">{{ tree.name }} {{ tree.lastname }}</a></td>
                                <td>{{ tree.date_wedding|date:"d/m/Y" }}</td>
                                <td>{{ tree.phone }}</td>
                                <td>{{ tree.date_return|date:"d/m/Y" }}</td>
                                <td>
                                  {% if tree.status == '0' %}
                                    <span class="hidden">{{ tree.status }}</span> Enviado
                                  {% elif tree.status == '1' %}
                                    <span class="hidden">{{ tree.status }}</span> Negociando
                                  {% elif tree.status == '2' %}
                                    <span class="hidden">{{ tree.status }}</span> Fechamento
                                  {% elif tree.status == '3' %}
                                    <span class="hidden">{{ tree.status }}</span> Finalizado
                                  {% endif %}
                                </td>
                                <td class="hidden">{{ tree.date_return|date:"Y/m/d" }}</td>
                                <td class="hidden">{{ tree.date_wedding|date:"Y/m/d" }}</td>
                              </tr>
                            {% endfor %}
                          {% endif %}
                        </tbody>
                        <tfoot>
                        </tfoot>
                      </table>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
                </div> <!-- /.col-xs -->
              </div> <!-- /.container -->
            </section >
            <!-- /.content -->
          {% endblock content %}
        {% endblock content-wrapper %}
      </div>
      <!-- /.content-wrapper -->

      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0
        </div>
        <strong>Desenvolvido por <a target="_blank" href="http://bruno-lucena.com.br/">Bruno Lucena</a></strong>.
        <i class="fa fa-copyright"></i> Todos os direitos reservados
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>

          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-user bg-yellow"></i>

                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                    <p>New phone +1(800)555-1234</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                    <p>nora@example.com</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="menu-icon fa fa-file-code-o bg-green"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                    <p>Execution time 5 seconds</p>
                  </div>
                </a>
              </li>
            </ul>
            <!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Update Resume
                    <span class="label label-success pull-right">95%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Laravel Integration
                    <span class="label label-warning pull-right">50%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                  </div>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <h4 class="control-sidebar-subheading">
                    Back End Framework
                    <span class="label label-primary pull-right">68%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                  </div>
                </a>
              </li>
            </ul>
            <!-- /.control-sidebar-menu -->
          </div>
          <!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
          <!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Allow mail redirect
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Other sets of options are available
                </p>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Expose author name in posts
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Allow the user to show his name in blog posts
                </p>
              </div>
              <!-- /.form-group -->
              <h3 class="control-sidebar-heading">Chat Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Show me as online
                  <input type="checkbox" class="pull-right" checked>
                </label>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Turn off notifications
                  <input type="checkbox" class="pull-right">
                </label>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Delete chat history
                  <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                </label>
              </div>
              <!-- /.form-group -->
            </form>
          </div>
          <!-- /.tab-pane -->
        </div>
      </aside>
      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>
    {% endblock wrapper %}
  </div> <!-- /.main-wrapper -->

  <!-- =========================================
  JavaScript Files
  ========================================== -->


  <!-- jQuery 3 -->
  <script src="{% static 'main/js/jquery.min.js' %}"></script>

  <!-- jQuery UI 1.11.4 -->
  <script src="{% static 'main/js/jquery-ui.min.js' %}"></script>

  <!-- Bootstrap 3.3.7 -->
  <script src="{% static 'main/js/bootstrap.min.js' %}"></script>

  <!-- Sparkline -->
  <script src="{% static 'main/js/jquery.sparkline.min.js' %}"></script>

  <!-- jvectormap -->
  <script src="{% static 'main/js/jquery-jvectormap-1.2.2.min.js' %}"></script>

  <script src="{% static 'main/js/jquery-jvectormap-world-mill-en.js' %}"></script>

  <!-- jQuery Knob Chart -->
  <script src="{% static 'main/js/jquery.knob.min.js' %}"></script>

  <!-- daterangepicker -->
  <script src="{% static 'main/js/moment.min.js' %}"></script>

  <script src="{% static 'main/js/daterangepicker.js' %}"></script>

  <!-- datepicker -->
  <script src="{% static 'main/js/bootstrap-datepicker.min.js' %}"></script>

  <!-- Bootstrap WYSIHTML5 -->
  <script src="{% static 'main/js/bootstrap3-wysihtml5.all.min.js' %}"></script>

  <!-- Slimscroll -->
  <script src="{% static 'main/js/jquery.slimscroll.min.js' %}"></script>

  <!-- FastClick -->
  <script src="{% static 'main/js/fastclick.js' %}"></script>

  <!-- AdminLTE App -->
  <script src="{% static 'main/js/adminlte.min.js' %}"></script>

  <!-- Select2 -->
  <script src="{% static 'main/js/select2.full.min.js' %}"></script>

  <!-- InputMask -->
  <script src="{% static 'main/js/jquery.inputmask.js' %}"></script>

  <script src="{% static 'main/js/jquery.inputmask.date.extensions.js' %}"></script>

  <script src="{% static 'main/js/jquery.inputmask.extensions.js' %}"></script>

  <!-- bootstrap color picker -->
  <script src="{% static 'main/js/bootstrap-colorpicker.min.js' %}"></script>

  <!-- bootstrap time picker -->
  <script src="{% static 'main/js/bootstrap-timepicker.min.js' %}"></script>

  <!-- iCheck 1.0.1 -->
  <script src="{% static 'main/js/icheck.min.js' %}"></script>

  <!-- DataTables -->
  <script src="{% static 'main/js/jquery.dataTables.min.js' %}"></script>

  <script src="{% static 'main/js/dataTables.bootstrap.min.js' %}"></script>

  <script src="{% static 'main/js/dashboard.js' %}"></script>

  <script src="{% static 'main/js/morris.min.js' %}"></script>

  <script src="{% static 'main/js/raphael.min.js' %}"></script>

  <script src="{% static 'main/js/base.js' %}"></script>

  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button);
  </script>

  <!-- Page script -->
  <script>
    $(function () {
      //Initialize Select2 Elements
      $('.select2').select2();

      //Datemask dd/mm/yyyy
      $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' });
      //Datemask2 mm/dd/yyyy
      $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' });
      //Money Euro
      $('[data-mask]').inputmask();

      //Date range picker
      $('#reservation').daterangepicker();
      //Date range picker with time picker
      $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' });
      //Date range as a button
      $('#daterange-btn').daterangepicker(
        {
          ranges   : {
            'Today'       : [moment(), moment()],
            'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month'  : [moment().startOf('month'), moment().endOf('month')],
            'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          startDate: moment().subtract(29, 'days'),
          endDate  : moment()
        },

        function (start, end) {
          $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
      );

      //Date picker;
      $('#datepicker').datepicker({
        autoclose: true
      });

      //iCheck for checkbox and radio inputs
      $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass   : 'iradio_minimal-blue'
      });
      //Red color scheme for iCheck
      $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
        checkboxClass: 'icheckbox_minimal-red',
        radioClass   : 'iradio_minimal-red'
      });
      //Flat red color scheme for iCheck
      $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass   : 'iradio_flat-green'
      });

      //Colorpicker;
      $('.my-colorpicker1').colorpicker();
      //color picker with addon
      $('.my-colorpicker2').colorpicker();

      //Timepicker
      $('.timepicker').timepicker({
        showInputs: false
      });
    });
  </script>

  <!-- table script -->
  <script>
    $(function () {
      $('#orders-table').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false,
        'order': [[5, 'asc'], [6, 'asc'], [7, 'asc']]
      });
    });
  </script>

  {% block extrascript %} {% endblock extrascript %}

</body>
</html>