{% extends 'main/base.html' %}

{% load i18n %}

{% load staticfiles %}

{% load custom_tags %}

{% block breadcrumb-clean %} {% endblock breadcrumb-clean %}

{% block breadcrumb %}

	<i class="fa fa-home"></i>

	{{ block.super }}

	{% load breadcrumb_tags %}

	{% add_crumb 'Cadastro Rápido' 'cadastro_rapido' %}

{% endblock breadcrumb %}

{% block page-header %} Cadastro Rápido {% endblock page-header %}

{% block page-sub-header %} crie um novo cliente {% endblock page-sub-header %}

{% block messages %}
	{% if success %}
		<div class="alert alert-success fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> Usuário criado com sucesso!</h4>
			Novo usuário: <em>{{ success }}</em>
		</div>
	{% endif %}
	{% if form.errors %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-ban"></i> Erro! Corrija os campos abaixo.</h4>
		</div>
	{% endif %}
{% endblock messages %}

{% block content %}
	<section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Novo Cliente</h3>
          </div>
          <form role="form" method='POST' action=''> {% csrf_token %}
            <div class="box-body">
            	{% for input in form %}
	              <div class="form-group {% if input.errors %} has-error {% endif %}">
	                <label for="{{ input.label }}">{{ input.label }}</label>
	                {{ input }}
	                <span class="help-block">{{ input.errors.as_text }}</span>
	              </div>
	            {% endfor %}
            	<div class="form-group {% if errors %}{% if 'date_wedding' in errors %} has-error {% endif %}{% endif %}">
            		<label for="date_wedding">Data do Casamento:</label>
	    					<div class="input-group {% if errors %}{% if 'date_wedding' in errors %} has-error {% endif %}{% endif %}">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control" name="date_wedding" data-inputmask="'alias': 'dd/mm/yyyy', 'placeholder': 'dd/mm/aaaa'" data-mask>
                </div>
                {% if errors %}
                	{% if 'date_wedding' in errors %}
		                	<span class="help-block has-error">* {{ errors.date_wedding }}</span>
		              {% endif %}
	              {% endif %}
              </div>
            </div>
            <div class="box-footer">
            	<button type="submit" class="btn btn-success" name="salvar_cadastro" id="salvar_cadastro">Salvar Cadastro</button>
            </div>
          </form>
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
  <!-- /.content -->
{% endblock content %}
