{% extends 'main/base.html' %}

{% load i18n %}

{% load staticfiles %}

{% load custom_tags %}

{% block breadcrumb-clean %}{% endblock %}

{% block breadcrumb %}

	{% trans 'Cliente '|addstr:order.id as order_id %}

	<i class="fa fa-home"></i>

	{{ block.super }}

	{% load breadcrumb_tags %}

	{% add_crumb order_id 'cliente' order.id %}

{% endblock %}

{% block page-header %} Cliente {{ order.id }} - {{ order.name }} {% endblock page-header %}

{% block page-sub-header %} propostas e histórico {% endblock page-sub-header %}

{% block messages %}
	{% if 'save_historic' in updated and updated.save_historic|length > 0 %}
		<div class="alert alert-success fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> Novo histórico adicionado!<h4>
			<ul>
				<li>Assunto: {{ updated.save_historic.subject }}</li>
			</ul>
		</div>
	{% endif %}
	{% if errors|length > 0 %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-ban"></i> Erro! Corrija os campos abaixo.</h4>
		</div>
	{% endif %}

	{% if messages.errors|length > 0 %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-ban"></i> Erro! Corrija os campos abaixo.</h4>
		</div>
	{% endif %}
	{% if messages.updated|length > 0 %}
		<div class="alert alert-success fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> Dados atualizados com sucesso!</h4>
		</div>
	{% endif %}
{% endblock messages %}

{% block content %}
<section class="content">
	<!-- Header -->
	<section class="order-header">
		 <div class="row">
		  <div class="col-md-12 col-lg-12">
				<div class="form-group row">
					<div class="col-md-6">
						{% if order.date_return < today and order.status != '3' and order.status != '4' %}
							<span class="list-group-item list-group-item-danger">
								<b>Cuidado!</b> Retorne para esse cliente urgente. A data de retorno estava marcada para o dia {{ order.date_return|date:"d/m/Y" }}
							</span><br/>
						{% elif order.date_return == today and order.status != '3' and order.status != '4' %}
							<span class="list-group-item list-group-item-warning">
								<b>Atenção!</b> Retorne para esse cliente. A data de retorno está marcada para hoje, dia {{ order.date_return|date:"d/m/Y" }}
							</span><br/>
						{% elif order.date_return > today and order.status != '3' and order.status != '4' %}
							<span class="list-group-item list-group-item-success">
								<b>Proposta em dia!</b> A data de retorno está marcada para {{ order.date_return|date:"d/m/Y" }}
							</span><br/>
						{% endif %}
					</div>
					<div class="col-xs-12 col-lg-6 pull-right">
						{% if order.status == '0' %}
							<span class="list-group-item list-group-item-success"><b>Status:</b> Enviado</span>
						{% elif order.status == '1' %}
							<span class="list-group-item list-group-item-info"><b>Status:</b> Negociando</span>
						{% elif order.status == '2' %}
							<span class="list-group-item list-group-item-warning"><b>Status:</b> Aguardando Fechar Contrato</span>
						{% elif order.status == '3' %}
							<span class="list-group-item list-group-item-success"><b>Status:</b> Venda Realizada</span>
						{% elif order.status == '4' %}
							<span class="list-group-item list-group-item-danger"><b>Status:</b> Venda Perdida</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.order-header -->

  <!-- Update Order -->
	<section class="update-order">
		 <div class="row">
		  <div class="col-md-12 col-lg-12">
				<div class="box box-primary" id="box-user" tabindex="1">
          <div class="box-header with-border">
            <h3 class="box-title">Cliente <em>{{ order.name }}</em> &nbsp;&nbsp;<i class="fa fa-plus fa-plus-box"></i> <i class="fa fa-minus fa-minus-box"></i></h3>
            {% if order.status != '3' or order.status != '4' %}
            	<div class="box-tools">
	              <div class="btn-group pull-right" data-toggle="btn-toggle">
	                <a href="{% url 'nova_proposta' order.id %}" class="btn btn-success"><i class="fa fa-plus"></i> Nova Proposta</a>
	              </div>
	            </div>
	          {% endif %}
          </div>
          <div class="box-content display">
          	<form role="form" method='POST' action=''> {% csrf_token %}
	            <div class="box-body">
	            	{% for input in form_order %}
		              <div class="form-group {% if input.name in messages.errors %} has-error {% elif input.name in messages.updated %} has-success {% endif %}">
		                <label for="{{ input.label }}">{{ input.label }}</label>
		                <div class="input-group {% if input.name in messages.errors %} has-error {% elif input.name in messages.updated %} has-success {% endif %}">
											<div class="input-group-addon">
												{% if input.name == 'name' or input.name == 'lastname' %}
		                    	<i class="fa fa-user"></i>
		                    {% elif input.name == 'street' %}
		                    	<i class="fa fa-home"></i>
		                    {% elif input.name == 'number' %}
		                    	<i class="fa fa-home"></i>
		                    {% elif input.name == 'complement' %}
		                    	<i class="fa fa-home"></i>
		                    {% elif input.name == 'district' %}
		                    	<i class="fa fa-home"></i>
		                    {% elif input.name == 'phone' %}
		                    	<i class="fa fa-phone"></i>
		                    {% elif input.name == 'email' %}
		                    	<i class="fa fa-envelope"></i>
		                    {% elif input.name == 'status' %}
		                    	<i class="fa fa-circle"></i>
		                    {% elif input.name == 'city' %}
		                    	<i class="fa fa-map"></i>
		                    {% elif input.name == 'state' %}
		                    	<i class="fa fa-map"></i>
		                    {% elif input.name == 'cep' %}
		                    	<i class="fa fa-map"></i>
		                    {% elif input.name == 'cpf' %}
		                    	<i class="fa fa-user"></i>
		                    {% elif input.name == 'rg' %}
		                    	<i class="fa fa-user"></i>
		                    {% elif input.name == 'professional_hair' %}
		                    	<i class="fa fa-user-md"></i>
		                    {% elif input.name == 'professional_make_up' %}
		                    	<i class="fa fa-user-md"></i>
												{% endif %}
		                  </div>
											{{ input }}
										</div>
		                <span class="help-block {% if input.name in messages.errors %} has-error {% elif input.name in messages.updated %} has-success {% endif %}">
											{% if input.name in messages.updated or input.name in messages.errors %}
												{% if input.name in messages.updated %}
													{% for key, value in messages.updated.items %}
														{% if key == input.name %}
															{{ value }}<br>
														{% endif %}
													{% endfor %}
												{% elif input.name in messages.errors %}
													{% for key, value in messages.errors.items %}
														{% if key == input.name %}
															{{ value }}<br>
														{% endif %}
													{% endfor %}
												{% endif %}
											{% endif %}
											{{ input.help_text }}
										</span>
		              </div>
		            {% endfor %}
		            <div class="form-group {% if 'date_wedding' in messages.errors %} has-error {% elif 'date_wedding' in messages.updated %} has-success {% endif %}">
	            		<label for="date_wedding">Data do Casamento</label>
		    					<div class="input-group {% if 'date_wedding' in messages.errors %} has-error {% elif 'date_wedding' in messages.updated %} has-success {% endif %}">
	                  <div class="input-group-addon">
	                    <i class="fa fa-calendar"></i>
	                  </div>
	                  <input type="text" value="{{ order.date_wedding|date:'d/m/Y' }}" class="form-control" name="date_wedding" id="date_wedding" data-inputmask="'alias': 'dd/mm/yyyy', 'placeholder': 'dd/mm/aaaa'" data-mask>
	                </div>
	                {% if 'date_wedding' in messages.errors or 'date_wedding' in messages.updated %}
		                <span class="help-block {% if 'date_wedding' in messages.errors %} has-error {% elif 'date_wedding' in messages.updated %} has-success {% endif %}">
		                	{% if 'date_wedding' in messages.errors %}
												{% for key, value in messages.errors.items %}
													{% if key == 'date_wedding' %}
														{{ value }}<br>
													{% endif %}
												{% endfor %}
											{% elif 'date_wedding' in messages.updated %}
												{% for key, value in messages.updated.items %}
													{% if key == 'date_wedding' %}
														{{ value }}<br>
													{% endif %}
												{% endfor %}
											{% endif %}
										</span>
		              {% endif %}
	              </div>
	              <div class="form-group {% if 'date_return' in messages.errors %} has-error {% elif 'date_return' in messages.updated %} has-success {% endif %}">
	            		<label for="date_return">Data de Retorno</label>
		    					<div class="input-group {% if 'date_return' in messages.errors %} has-error {% elif 'date_return' in messages.updated %} has-success {% endif %}">
	                  <div class="input-group-addon">
	                    <i class="fa fa-calendar"></i>
	                  </div>
	                  <input type="text" value="{{ order.date_return|date:'d/m/Y' }}" class="form-control" name="date_return" id="date_return" data-inputmask="'alias': 'dd/mm/yyyy', 'placeholder': 'dd/mm/aaaa'" data-mask>
	                </div>
	                {% if 'date_return' in messages.errors or 'date_return' in messages.updated %}
			              <span class="help-block has-error">
			              	{% if 'date_return' in messages.errors %}
												{% for key, value in messages.errors.items %}
													{% if key == 'date_return' %}
														{{ value }}<br>
													{% endif %}
												{% endfor %}
											{% elif 'date_return' in messages.updated %}
												{% for key, value in messages.updated.items %}
													{% if key == 'date_return' %}
														{{ value }}<br>
													{% endif %}
												{% endfor %}
											{% endif %}
										</span>
		              {% endif %}
	              </div>
	            </div>
	            <div class="box-footer">
	            	<button type="submit" class="btn btn-success" name="update_order" id="update_order">Atualizar Dados</button>
	            </div>
          	</form>
          </div>
        </div>
        <!-- /.box -->
			</div>
		</div>
	</section>
	<!-- /.update-order -->

	<!-- Proposals -->
	<section class="proposals">
  	<div class="row">
			<div class="col-xs-12">
	      <div class="box box-warning" id="box-proposals">
          <div class="box-header">
            <h3 class="box-title">Propostas &nbsp;&nbsp;<i class="fa fa-plus fa-plus-box"></i> <i class="fa fa-minus fa-minus-box"></i></h3>
          </div>
          <!-- /.box-header -->
          <div class="box-content">
	          <div class="box-body table-responsive">
	            <table id="proposal-table" class="table table-bordered table-striped">
	              <thead>
		              <tr>
										<th>Proposta</th>
										<th>Data Envio</th>
										<th>Nome</th>
										<th>Telefone</th>
										<th>Casamento</th>
										<th>Retorno</th>
										<th>Status</th>
										<th>Data Envio Contrato</th>
										<th>Contrato</th>
									</tr>
	              </thead>
	              <tbody>
	              	{% for proposal in proposals %}
										<tr {% if proposal.order.date_return < today and proposal.order.status != '3' and order.status != '4' %} class="danger" {% endif %}>
	              			<td><a href="{% url 'proposta_detalhes' proposal.order.id proposal.id %}">{{ proposal.id }}</a></td>
											<td>{{ proposal.proposal_date_sent|date:"d/m/Y" }}</td>
											<td>{{ proposal.order.name }}</td>
											<td>{{ proposal.order.phone }}</td>
											<td>{{ proposal.order.date_wedding|date:"d/m/Y" }}</td>
											<td>{{ proposal.order.date_return|date:"d/m/Y" }}</td>
											<td>
												{% if proposal.order.status == '0' %}
													<span class="hidden">{{ proposal.order.status }}</span> Enviado
												{% elif proposal.order.status == '1' %}
												  <span class="hidden">{{ proposal.order.status }}</span> Negociando
												{% elif proposal.order.status == '2' %}
													<span class="hidden">{{ proposal.order.status }}</span> Fechamento
												{% elif proposal.order.status == '3' %}
													<span class="hidden">{{ proposal.order.status }}</span> Venda Realizada
												{% elif proposal.order.status == '4' %}
													<span class="hidden">{{ proposal.order.status }}</span> Venda Perdida
												{% endif %}
											</td>
											<td>{{ proposal.contract_date_sent|date:"d/m/Y" }}</td>
											<td>
												{% if proposal.contract == None or proposal.contract == ''%}
													<div class="text-center">
														<i class="fa fa-close"></i>
													</div>
												{% elif proposal.contract %}
													<div class="text-center">
														<a target="_blank" href="{{ proposal.contract.url }}"><i class="fa fa-check"></i></span></a>
													</div>
												{% endif %}
											</td>
										</tr>
									{% endfor %}
	              </tbody>
	              <tfoot>
	              </tfoot>
	            </table>
	          </div>
	        </div>
        </div>
      </div>
    </div>
  </section	>
  <!-- /.proposals -->

	<!-- Historics -->
	<section class="all-historics">
  	<div class="row">
			<div class="col-xs-12">
	      <div class="box box-primary" id="box-historic-all">
          <div class="box-header">
            <h3 class="box-title">Histórico   &nbsp;&nbsp;<i class="fa fa-plus fa-plus-box"></i> <i class="fa fa-minus fa-minus-box"></i></h3></h3>
          </div>
          <!-- /.box-header -->
          <div class="box-content">
	          <div class="box-body table-responsive">
	            <table id="historic-table" class="table table-bordered table-striped">
	              <thead>
		              <tr>
										<th>Proposta</th>
										<th>Data</th>
										<th>Assunto</th>
										<th>Descrição</th>
										<th>Retorno</th>
										<th>Tipo</th>
									</tr>
	              </thead>
	              <tbody>
	              	{% for historic in historics %}
										<tr>
											<td>
												{% if historic.proposal.id %}
													<a href="{% url 'proposta_detalhes' historic.order.id historic.proposal.id %}">{{ historic.proposal.id }}</a>
												{% else %}
												{% endif %}
											</td>
											<td>{{ historic.date|date:"d/m/Y" }}</td>
											<td>{{ historic.subject }}</td>
											<td>{{ historic.description }}</td>
											<td>
												{% if historic.status == '0' %}
													Enviado
												{% elif historic.status == '1' %}
													Negociando
												{% elif historic.status == '2' %}
													Aguardando Contrato
												{% elif historic.status == '3' %}
													Finalizado
												{% endif %}
											</td>
											<td>{{ historic.date_return|date:"d/m/Y" }}</td>
											<td>
												{% if historic.type == '0' %}
													Proposta
												{% elif historic.type == '1' %}
													Follow-up
												{% endif %}
											</td>
										</tr>
									{% endfor %}
	              </tbody>
	              <tfoot>
	              </tfoot>
	            </table>
	          </div>
	        </div>
        </div>
      </div>
    </div>
  </section	>
  <!-- /.historics -->

  <!-- New Historic -->
	<section class="new-historic">
		<div class="row">
			<div class="historicTable col-md-12 col-lg-12">
				<div class="box box-warning" id="box-historic" tabindex="1">
          <div class="box-header with-border">
            <h3 class="box-title">Adicionar Histórico  &nbsp;&nbsp;<i class="fa fa-plus fa-plus-box"></i> <i class="fa fa-minus fa-minus-box"></i></h3>
          </div>
          <div class="box-content">
						<form method="POST">{% csrf_token %}
							<div class="box-body">
								<div class="form-group">
									<label class="control-label">Proposta</label>
									<select class="form-control" name="proposal">
										{% for proposal in proposals %}
											<option value="{{ proposal.id }}">{{ proposal.id }}</option>
										{% endfor %}
									</select>
								</div>
		          	{% for form in form_historic %}
		              <div class="form-group {% if form.name in updated.form_historic %} has-success {% elif form.name in errors %} has-error {% endif %}">
		                <label for="{{ form.label }}">{{ form.label }}</label>
		                {{ form }}
		                {% if form.name in updated.form_historic %}
		                	<span class="help-block">Campo atualizado com sucesso.</span>
		                {% endif %}
		                {% if form.name in errors %}
		                	<ul>
			                	{% for key, value in errors.items %}
			                		{% if key == form.name %}
			                			<span class="help-block">{{ value|safe }}</span>
			                		{% endif %}
			                	{% endfor %}
			                </ul>
		                {% endif %}
		              </div>
		            {% endfor %}
		          </div>
		          <div class="box-footer">
		          	<button type="submit" class="btn btn-success" name="save_historic" id="save_historic">Salvar Histórico</button>
	            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.new-historic -->
</section>
<!-- /.content -->
{% endblock content %}

{% block extrascript %}
	<script>
		{% if updated|length > 0 %}
			{% if 'update_order' in request.POST %}
					showBox("#box-user");
					hideBox("#box-proposals");
					hideBox("#box-historic");
					hideBox("#box-historic-all");
			{% elif 'save_historic' in request.POST %}
					showBox("#box-historic");
					hideBox("#box-user");
					hideBox("#box-proposals");
					hideBox("#box-historic-all");
			{% endif %}
		{% endif %}

		{% if errors|length > 0 %}
			{% if 'update_order' in request.POST %}
					showBox("#box-user");
					hideBox("#box-historic");
					hideBox("#box-proposals");
					hideBox("#box-historic-all");
			{% elif 'save_historic' in request.POST %}
					showBox("#box-historic");
					hideBox("#box-user");
					hideBox("#box-proposals");
					hideBox("#box-historic-all");
			{% endif %}
		{% endif %}
	</script>

	<script>
	  $(function () {
	    $('#proposal-table').DataTable({
	    	'paging'      : true,
	      'lengthChange': true,
	      'searching'   : true,
	      'ordering'    : true,
	      'info'        : true,
	      'autoWidth'   : false,
	      'order': [[0, 'desc']]
	    })
	  })

	  $(function () {
	    $('#historic-table').DataTable({
	    	'paging'      : true,
	      'lengthChange': true,
	      'searching'   : true,
	      'ordering'    : true,
	      'info'        : true,
	      'autoWidth'   : false,
	      'order': [[1, 'desc'], [0, 'desc']]
	    })
	  })
	</script>
{% endblock extrascript %}