{% extends 'main/base.html' %}
{% load i18n %}

{% load staticfiles %}

{% load custom_tags %}

{% block breadcrumb-clean %} {% endblock %}

{% block breadcrumb %}

	<i class="fa fa-home"></i>

	{{ block.super }}

	{% load breadcrumb_tags %}

	{% add_crumb 'Configurações' 'configuracoes' %}

{% endblock %}

{% block page-header %} Configurações {% endblock page-header %}

{% block page-sub-header %} {% endblock page-sub-header %}

{% block messages %}
	{% if success %}
		<div class="alert alert-success fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> {{ success.title }}</h4>
			{{ success.message }} <em>{{ success.object }}</em>
		</div>
	{% endif %}
	{% if error %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> {{ error.title }}</h4>
			{{ error.message }} <em>{{ error.object }}</em>
		</div>
	{% endif %}
	{% if email_cc_form.errors %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-ban"></i> Erro! Corrija os campos abaixo.</h4>
		</div>
	{% endif %}
{% endblock messages %}

{% block content %}
	<section class="content">
		<div class="row">
			{% include "main/configuracoes_dados_loja.html" %}
			{% include "main/configuracoes_recipientes_email.html" %}
		</div>
	</section>
	<!-- /.content -->
{% endblock content %}

{% block extrascript %}
	<script>
		$(function() {
			$('#emails-cc-table').DataTable({
				'paging'      : true,
				'lengthChange': true,
				'searching'   : true,
				'ordering'    : true,
				'info'        : true,
				'autoWidth'   : false,
				'order': [[1, 'asc'], [0, 'asc']]
			})
		})
	</script>
{% endblock extrascript %}