<div class="col-md-7 connectedSortable ui-sortable">
	<div class="nav-tabs-custom">
		<!-- Tabs within a box -->
		<ul class="nav nav-tabs pull-right">
			<li class="active"><a href="#emails" data-toggle="tab">Emails</a></li>
			<li><a href="#add-emails" data-toggle="tab">Adicionar Novo</a></li>
			<li class="pull-left header">
				<i class="fa fa-envelope-o"></i>
				Recipientes de Email <br />
			</li>
		</ul>
		<div class="box-subtitle">
			-Emails que receberão cópias dos emails enviadas para o salão. <br />
			-O email marcado como principal será utilizado para assinar os emails enviados pelo sistema.
			<hr />
		</div>
		<div class="tab-content">
			<section class="tab-pane active" id="emails">
				<div class="table-responsive">
					<table id="emails-cc-table" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Email</th>
								<th>Principal</th>
								<th>Excluir</th>
							</tr>
						</thead>
						<tbody>
							{% for email_recipient in email_recipients %}
								<tr>
									<td>{{ email_recipient.email }}</td>
									<td class="text-center">
										<form method="POST" action=""> {% csrf_token %}
											{% if email_recipient.main %}
												<span class="hidden">0</span>
												<button type="submit" name="change_main_email" value="{{ email_recipient.id }}" class="btn btn-clean">
													<i class="fa fa-check text-success"></i>
												</button>
											{% else %}
												<span class="hidden">1</span>
												<button type="submit" name="change_main_email" value="{{ email_recipient.id }}" class="btn btn-clean">
													<i class="fa fa-close text-red"></i>
												</button>
											{% endif %}
										</form>
									</td>
									<td class="text-center">
										<form method="POST" action=""> {% csrf_token %}
											<button type="submit" name="delete_email" value="{{ email_recipient.id }}" class="btn btn-clean" onclick="return confirm('Excluir email')">
												<i class="fa fa-trash-o"></i>
											</button>
										</form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</section>

			<section class="chart tab-pane" id="add-emails">
				<form role="form" method="POST" action=""> {% csrf_token %}
					<div class="box-body">
						{% for input in email_cc_form %}
							<div class="form-group {% if input.errors %} has-error {% endif %}">
								<label for="{{ input.label }}">{{ input.label }}</label>
								{{ input }}
								<span class="help-block">{{ input.help_text }}</span>
								<span class="help-block">{{ input.errors }}</span>
							</div>
						{% endfor %}
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button type="submit" class="btn btn-success" name="add_email_recipient">Adicionar Recipiente de Email</button>
					</div>
				</form>
			</section>
		</div>
	</div>
</div>