<div class="col-md-5 connectedSortable ui-sortable">
	<div class="box box-success">
		<form method="POST" action="">{% csrf_token %}
			<div class="box-header">
				<i class="fa fa-list-alt"></i>

				<h3 class="box-title">Dados da Loja</h3>

				<div class="box-tools pull-right">
					<button type="button" class="btn bg-secondary btn-sm" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
				</div>
			</div>
			<div class="box-body border-radius-none">
				{% for input in store_form %}
					<div class="form-group {% if input.name in fields_with_error %} has-error {% elif input.name in fields_updated %} has-success {% endif %}">
						<label for="{{ input.label }}">{{ input.label }}</label>
						{{ input }}
						{% if input.name in fields_updated or input.name in fields_with_error %}
							<span class="help-block {% if input.name in fields_with_error %} has-error {% elif input.name in fields_updated %} has-success {% endif %}">
								{% if input.name in fields_with_error %}
									{% for key, value in fields_with_error.items %}
										{% if key == input.name %}
											{% for error in value %}
												{{ error|striptags }}<br>
											{% endfor %}
										{% endif %}
									{% endfor %}
								{% elif input.name in fields_updated %}
									{% for key, value in fields_updated.items %}
										{% if key == input.name %}
											{{ value|striptags }}<br>
										{% endif %}
									{% endfor %}
								{% endif %}
							</span>
						{% endif %}
						<span class="help-block">{{ input.help_text }}</span>
					</div>
				{% endfor %}
			</div>
			<!-- /.box-body -->
			<div class="box-footer">
				<button type="submit" class="btn btn-success" name="store_info">Salvar Dados</button>
			</div>
		</form>
	</div>
	<!-- /.box -->
</div>