<!DOCTYPE html>

<html lang="pt" ng-app="App">

<head>

<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
 <section class="email-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<figure>
					{{ store.name }}
				</figure>

				<br /><br />

				<section class="email-content">
					<p>
						Olá {{ customer }},<br>
						Segue em anexo contrato para dia da noiva do salão {{ store }}.<br>
						Caso possua alguma dúvida, estamos a disposição para contato.<br>
					</p>

					<p>
						Atenciosamente,<br>
						{{ attendant }} - {{ store }}<br>
						{{ sender_email }}
					</p>
				</section>
			</div>
		</div>
	</div>
 </section>
</body>
</html>