<!DOCTYPE html>
<html lang="pt">
 <head>

 	{% load i18n %}

  {% load staticfiles %}

  {% load custom_tags %}

  <!-- Meta Tags -->
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="author" content="Bruno A. Lucena">

  <title>{% block title %} Dia da Noiva {% endblock %}</title>

  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">

  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'main/css/ionicons.min.css' %}">

  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'main/css/AdminLTE.min.css' %}">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <!-- Css -->
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />

  {% block extrastyle %} {% endblock extrastyle %}

</head>
<body onload="window.print();">
<div>
  <section class="contract invoice">
    <header>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            {% if store.logo %}
              <img src="{{ store.logo.url }}" alt=" {{ store.name }}" height="50px">
            {% else %}
              {{ store.name }}
            {% endif %}
            <small class="pull-right">Data: {{ today|date:"d/m/Y" }}</small>
          </h2>
        </div>
      </div>
    </header>

    <section class="contract-articles">
      <h3 class="text-center">{{ title }}</h3>
      <div class="row">
        <div class="col-sm-12">
          <br/>
          <p>{{ header|safe }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <br/>
          {% for key, value in articles.items %}
            <h4>{{ value.title|safe }}</h4>
            <p>{{ value.content|safe }}</p><br/>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <br />
          <p>{{ footer|safe }}</p>
        </div>
      </div><br>
    </section> <!-- /.contract-articles -->
  </section> <!-- /.invoice -->
</div>
<!-- ./wrapper -->
</body>
</html>