{% extends 'main/base.html' %}

{% load i18n %}

{% load staticfiles %}

{% load custom_tags %}

{% block breadcrumb-clean %} {% endblock %}

{% block breadcrumb %}

	<i class="fa fa-home"></i>

	{{ block.super }}

	{% load breadcrumb_tags %}

	{% add_crumb 'Usuários' 'usuarios' %}

	{% add_crumb 'Criar Usuário' 'criar_usuario' %}

{% endblock %}

{% block page-header %} Criar Usuário {% endblock page-header %}

{% block page-sub-header %} crie um novo usuário {% endblock page-sub-header %}

{% block messages %}
	{% if success %}
		<div class="alert alert-success fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> Usuário criado com sucesso!</h4>
			Novo usuário: <em>{{ success }}</em>
		</div>
	{% endif %}
	{% if user_form.errors or user_password.errors or person_max_discount_model_form.errors %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-ban"></i> Erro! Corrija os campos abaixo.</h4>
		</div>
	{% endif %}
{% endblock messages %}

{% block content %}
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Criar Usuário</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->
					<form role="form" method="POST" action=""> {% csrf_token %}
						<div class="box-body">
							{% for form in user_form %}
								<div class="form-group {% if form.errors %} has-error {% endif %}">
									<label for="{{ form.label }}">{{ form.label }}</label>
									{{ form }}
									<span class="help-block">{{ form.errors }}</span>
								</div>
							{% endfor %}
							{% for form in person_max_discount_model_form %}
								<div class="form-group {% if form.errors %} has-error {% endif %}">
									<label for="{{ form.label }}">{{ form.label }}</label>
									{{ form }}
									<span class="help-block">{{ form.errors }}</span>
								</div>
							{% endfor %}
							{% for form in user_password %}
								<div class="form-group {% if form.errors %} has-error {% endif %}">
									<label for="{{ form.label }}">{{ form.label }}</label>
									{{ form }}
									<span class="help-block">{{ form.errors }}</span>
								</div>
							{% endfor %}
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button type="submit" class="btn btn-success" name="create_user" id="create_user">Criar Usuário</button>
						</div>
					</form>
				</div>
				<!-- /.box -->
			</div>
		</div>
	</section>
	<!-- /.content -->
{% endblock content %}
