{% extends 'main/base.html' %}

{% load i18n %}

{% load staticfiles %}

{% load custom_tags %}

{% block breadcrumb-clean %} {% endblock %}

{% block breadcrumb %}

	<i class="fa fa-home"></i>

	{{ block.super }}

	{% load breadcrumb_tags %}

	{% add_crumb 'Serviços' 'servicos' %}

	{% add_crumb 'Criar Serviço' 'criar_servico' %}

{% endblock %}

{% block page-header %} Criar Serviço {% endblock page-header %}

{% block page-sub-header %} crie um novo serviço {% endblock page-sub-header %}

{% block messages %}
	{% if success %}
		<div class="alert alert-success fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> Serviço criado com sucesso!</h4>
			Novo serviço: <em>{{ success }}</em>
		</div>
	{% endif %}
	{% if service_form.errors %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-ban"></i> Erro! Corrija os campos abaixo.</h4>
		</div>
	{% endif %}
	{% if errors|length > 0 %}
    {% if not errors.unique_together %}
  		<div class="alert alert-danger fade in">
  			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  			<h4><i class="icon fa fa-ban"></i> Erro! Corrija os campos abaixo.</h4>
  			Um ou mais preços agendados não foi preenchido corretamente.
  		</div>
    {% endif %}
	{% endif %}
{% endblock messages %}

{% block content %}
	<section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Criar Serviço</h3>
          </div>
          <!-- form start -->
          <form role="form" method="POST" action=""> {% csrf_token %}
            <div class="box-body">
            	{% for input in service_form %}
	              <div class="form-group {% if input.errors %} has-error {% endif %}">
	                <label for="{{ input.label }}">{{ input.label }}</label>
	                {{ input }}
	                <span class="help-block">{{ input.errors }}</span>
	                <span class="help-block"><small>{{ input.help_text }}</small></span>
	              </div>
	            {% endfor %}
	            <br>
	            <h4>Agendar Preços</h4>
	            <span class="help-block"><small>Agende preços para datas específicas</small></span>
	            <div class="service_prices">
	            	<table class="table {% if errors %} has-error {% endif %}">
	            		<thead>
	            			<tr>
	            				<th>Preço R$</th>
	            				<th>Data Início</th>
	            				<th>Data Fim</th>
	            				<th>Excluir</th>
	            			</tr>
	            		</thead>
	            		<tbody>
	            			<!-- jQuery services prices -->
	            		</tbody>
	            	</table>
	            	<div class="number_of_prices hidden">
	            		{{ how_many_prices }}
	            	</div>
	            </div><br/>
	            <button type="button" class="btn btn-warning service_add_price" id="teste"><i class="fa fa-plus"></i> Adicionar Preço Agendado</button>
            </div> <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-success" name="create_service" id="create_service">Criar Serviço</button>
            </div>
          </form>
        </div> <!-- /.box -->
      </div>
    </div>
  </section> <!-- /.content -->
{% endblock content %}

{% block extrascript %}
	<script>
		$(document).ready(initialServicePrices);
	</script>
{% endblock extrascript %}