{% extends 'main/base.html' %}

{% load i18n %}

{% load staticfiles %}

{% load custom_tags %}

{% block breadcrumb-clean %} {% endblock breadcrumb-clean %}

{% block breadcrumb %}

	<i class="fa fa-home"></i>

	{{ block.super }}

	{% load breadcrumb_tags %}

	{% add_crumb 'Usuários' 'usuarios' %}

	{% add_crumb user_edit.username 'editar_usuario' user_edit.id %}

{% endblock breadcrumb %}

{% block page-header %} Usuário {{ user_edit.username }} {% endblock page-header %}

{% block page-sub-header %} editar usuário {% endblock page-sub-header %}

{% block messages %}
	{% if updated|length > 0 %}
		<div class="alert alert-success fade in">
			<button type="button" class="close" data-dismiss="alert" area-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> Dados atualizados com sucesso!<h4>
		</div>
	{% endif %}
	{% if errors|length > 0 %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-ban"></i> Erro! Corrija os campos abaixo.</h4>
		</div>
	{% endif %}
{% endblock messages %}
{% block content %}
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Editar Usuário</h3>
					</div>
					<!-- form start -->
					<form role="form" method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
						<div class="box-body">
							{% for form in user_form %}
								<div class="form-group {% if form.name in updated %} has-success {% elif form.name in errors %} has-error {% endif %}">
									<label for="{{ form.label }}">{{ form.label }}</label>
									{{ form }}
									{% if form.name in updated %}
										<span class="help-block">Campo atualizado com sucesso.</span>
									{% endif %}
									{% if form.name in errors %}
										<ul>
											{% for key, value in errors.items %}
												{% if key == form.name %}
													<span class="help-block">{{ value|safe }}</span>
												{% endif %}
											{% endfor %}
										</ul>
									{% endif %}
								</div>
							{% endfor %}
							{% for form in user_password %}
								<div class="form-group {% if form.name in updated %} has-success {% elif form.name in errors %} has-error {% endif %}">
									<label for="{{ form.label }}">{{ form.label }}</label>
									{{ form }}
									{% if form.name in updated %}
										<span class="help-block">Campo atualizado com sucesso.</span>
									{% endif %}
									{% if form.errors %}
										<span class="help-block">{{ form.errors }}</span>
									{% endif %}
								</div>
							{% endfor %}
							{% for form in person_max_discount_model_form %}
								<div class="form-group {% if form.name in updated %} has-success {% elif form.name in errors %} has-error {% endif %}">
									<label for="{{ form.label }}">{{ form.label }}</label>
									{{ form }}
									{% if form.name in updated %}
										<span class="help-block">Campo atualizado com sucesso.</span>
									{% endif %}
									<span class="help-block">{{ form.errors }}</span>
								</div>
							{% endfor %}
							{% for form in user_is_admin_model_form %}
								<div class="form-group {% if form.name in updated %} has-success {% elif form.name in errors %} has-error {% endif %}">
									<label for="{{ form.label }}">{{ form.label }}</label>
									{{ form }}
									{% if form.name in updated %}
										<span class="help-block">Campo atualizado com sucesso.</span>
									{% endif %}
									{% if form.errors %}
										<span class="help-block">{{ form.errors }}</span>
									{% endif %}
								</div>
							{% endfor %}
							{% for form in user_is_active_model_form %}
								<div class="form-group {% if form.name in updated %} has-success {% elif form.name in errors %} has-error {% endif %}">
									<label for="{{ form.label }}">{{ form.label }}</label>
									{{ form }}
									{% if form.name in updated %}
										<span class="help-block">Campo atualizado com sucesso.</span>
									{% endif %}
									{% if form.errors %}
										<span class="help-block">{{ form.errors }}</span>
									{% endif %}
								</div>
							{% endfor %}
						</div> <!-- /.box-body -->
						<div class="box-footer">
							<button type="submit" class="btn btn-primary" name="update_user" id="update_user">Salvar</button>
							<span class="pull-right">
								<button type="submit" class="btn btn-danger" name="delete_user" id="delete_user" onclick="return confirm('ATENÇÃO!!! É recomendável que ao invés de excluir um usuário você o marque como inativo.')">Excluir Usuário</button>
							</span>
						</div>
					</form>
				</div> <!-- /.box -->
			</div>
		</div>
	</section> <!-- /.content -->
{% endblock content %}
