{% extends 'main/base.html' %}

{% load i18n %}

{% load staticfiles %}

{% load custom_tags %}

{% block breadcrumb-clean %} {% endblock breadcrumb-clean %}

{% block breadcrumb %}

	<i class="fa fa-home"></i>

	{{ block.super }}

	{% load breadcrumb_tags %}

	{% add_crumb 'Serviços' 'servicos' %}

	{% add_crumb service.id 'editar_servico' service.id %}

{% endblock breadcrumb %}

{% block page-header %} Serviço {{ service.id }} {% endblock page-header %}

{% block page-sub-header %} editar serviço {% endblock page-sub-header %}

{% block messages %}
	{% if updated|length > 0 %}
		<div class="alert alert-success fade in">
			<button type="button" class="close" data-dismiss="alert" area-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> Dados atualizados com sucesso!<h4>
		</div>
	{% endif %}
	{% if errors|length > 0 %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-ban"></i> Erro! Corrija os campos abaixo.</h4>
		</div>
	{% endif %}
	{% if success|length > 0 %}
		{% if success.delete_price %}
			<div class="alert alert-success fade in">
				<button type="button" class="close" data-dismiss="alert" area-hidden="true">&times;</button>
				<h4><i class="icon fa fa-check"></i> Preço{{ success.delete_price|pluralize }} deletado{{ success.delete_price|pluralize }} com sucesso.<h4>
			</div>
		{% endif %}
		{% if success.insert_prices %}
			<div class="alert alert-success fade in">
				<button type="button" class="close" data-dismiss="alert" area-hidden="true">&times;</button>
				<h4><i class="icon fa fa-check"></i> Preço{{ success.insert_prices|pluralize }} inserido{{ success.insert_prices|pluralize }} com sucesso!<h4>
			</div>
		{% endif %}
	{% endif %}
{% endblock messages %}
{% block content %}
	<section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Editar Serviço</h3>
          </div>
          <!-- form start -->
          <form role="form" method="POST" action="" enctype="multipart/form-data"> {% csrf_token %}
            <div class="box-body">
            	{% for input in service_form %}
          			<div class="form-group {% if input.name in updated %} has-success {% elif input.name in errors %} has-error {% endif %}">
	                <label for="{{ input.label }}">{{ input.label }}</label>
	                {{ input }}
	                {% if input.name in updated %}
	                	<span class="help-block">{% trans 'Campo atualizado com sucesso' %}.</span>
	                {% endif %}
	                {% if input in errors %}
	                	<ul>
		                	<span class="help-block">{{ input.errors }}</span>
		                </ul>
	                {% endif %}
	                <span class="help-block"><small>{{ input.help_text }}</small></span>
	              </div>
		          {% endfor %}
		          <br/>
		          <h4>Agendar Preços</h4>
		          <span class="help-block"><small>Agende preços para datas específicas</small></span>
		          <table class="table {% if 'service_prices' in updated %} has-success {% endif %}">
		          	<thead>
            			<tr>
            				<th>Preço (R$)</th>
            				<th>Data Início</th>
            				<th>Data Fim</th>
            				<th>Excluir</th>
            			</tr>
            		</thead>
            		{% for price in prices_service %}
			          	<tr>
										<td><input type="number" class="form-control id_price_{{ price.id }}" name="id_price_{{ price.id }}" value="{{ price.price|dolar }}" size="6" min="0" step="0.01"></td>
										<td><input type="text" class="form-control id_date_start_{{ price.id }} datemask" name="id_date_start_{{ price.id }}" value="{{ price.date_start|date:'d/m/Y' }}"></td>
										<td><input type="text" class="form-control id_date_end_{{ price.id }} datemask" name="id_date_end_{{ price.id }}" value="{{ price.date_end|date:'d/m/Y' }}">
										<td><input type="checkbox" name="price_delete" value="id_service_{{ price.id }}"></i></td>
									</tr>
								{% endfor %}
		          </table>
		          <div class="service_prices">
	            	<table class="table {% if errors %} has-error {% endif %}">
	            		<tbody>
	            			<!-- jQuery services prices -->
	            		</tbody>
	            	</table>
	            	<div class="number_of_prices hidden">
	            		{{ how_many_prices }}
	            	</div>
	            </div><br/>
	            <button type="button" class="btn btn-warning service_add_price" id="teste"><i class="fa fa-plus"></i> Adicionar Outro Preço</button>
            </div> <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-success" name="update_service" id="update_service">Salvar</button>
              <span class="pull-right">
              	<button type="submit" class="btn btn-danger" name="delete_service" id="delete_service" onclick="return confirm('ATENÇÃO!!! O serviço não poderá ser recuperado após a exclusão')">Excluir Serviço</button>
              </span>
            </div>
          </form>
        </div> <!-- /.box -->
      </div>
    </div>
  </section> <!-- /.content -->
{% endblock content %}

{% block extrascript %}
	<script>
		$(document).ready(initialServicePrices);
	</script>
{% endblock extrascript %}