<!DOCTYPE html>
<html lang="pt">
 <head>
  {% load staticfiles %}

  {% load i18n admin_static %}
  
  <!-- Meta Tags -->
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="author" content="Bruno A. Lucena">

  <title>{% block title %} Dia da Noiva {% endblock %}</title>

  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'main/css/ionicons.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'main/css/AdminLTE.min.css' %}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static 'main/css/red.css' %}">
  

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- [if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  [endif] -->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body class="hold-transition login-page">


<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'home' %}"> <b>Dia da Noiva</b> Admin </a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <h3 class="text-center">Login</h3>
    <p class="login-box-msg">
      {% trans 'Logue-se para começar a utilizar' %}
    </p>

    {% if form.errors and form.non_field_errors|length > 0 %}
			<div class="alert alert-danger alert-dismissable">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			  {% for error in form.non_field_errors %}
					{{ error }}
				{% endfor %}
			</div>
		{% endif %}
    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    	{% for input in form %}
	      <div class="form-group {% if input.errors %}has-error{% endif %} has-feedback">
	      	{{ input }}
	        <span class="glyphicon {% if input.label == 'Usuário' %}glyphicon-user{% else %}glyphicon-lock{% endif %} form-control-feedback"></span>
	        <span class="help-block">{% if input.errors %}{% for error in input.errors %}{% trans error %}<br>{% endfor %}{% endif %}</span>
	      </div>
	     {% endfor %}
	     <div class="row">
	        <div class="col-xs-8">
	          <div class="checkbox icheck">
	            <label>
	              <!-- <input type="checkbox"> Remember Me -->
	            </label>
	          </div>
	        </div>
	        <!-- /.col -->
	        <div class="col-xs-4">
	          <button type="submit" class="btn btn-primary btn-block btn-flat" value="{% trans 'Log in' %}" name="loginuser" id="loginuser">{% trans 'Log in' %}</button>
	        </div>
	        <!-- /.col -->
	      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- OU -</p>
      <p class="login-box-msg"><a href="{% url 'teste' %}">{% trans 'Experimente a versão de testes!' %}</a></p>
      

      <!-- <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
          Facebook</a>
        <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
          Google+</a> -->
    </div>
    <!-- /.social-auth-links -->

    <!-- <a href="#">{% trans 'Esqueceu a senha?' %}</a><br> -->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="{% static 'main/js/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'main/js/icheck.min.js' %}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-red',
      radioClass: 'iradio_square-red',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>


