<!DOCTYPE html>
<html lang="pt">
 <head>
  {% load staticfiles %}

  {% load i18n admin_static %}
  
  <!-- Meta Tags -->
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="author" content="Bruno A. Lucena">

  <title>{% block title %} Dia da Noiva {% endblock %}</title>

  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'main/css/ionicons.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'main/css/AdminLTE.min.css' %}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static 'main/css/red.css' %}">
  

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- [if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  [endif] -->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body class="hold-transition login-page">


<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'home' %}"> <b>Dia da Noiva</b> Admin </a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <div class="social-auth-links text-center">
      <h3 class="text-center">{% trans 'Criar Usuário de Testes' %}</h3>
      {% if errors|length > 0 %}
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          Não foi possível fazer o login.<br>
          Verifique se os dados foram digitados corretamente.<br>
        </div>
      {% endif %}
      <p class="login-box-msg">
        {% blocktrans %}
          Crie um usuário e tenha acesso à versão de testes.
        {% endblocktrans %}
      </p>
      <form action="{{ app_path }}" method="post">{% csrf_token %}
        <div class="form-group {% if input.errors %}has-error{% endif %} has-feedback">
          <input type="text" class="form-control" name="user_test" placeholder="usuário">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
          <span class="help-block">{% if input.errors %}{% for error in input.errors %}{% trans error %}<br>{% endfor %}{% endif %}</span>
        </div>
        <div class="form-group {% if input.errors %}has-error{% endif %} has-feedback">
          <input type="email" class="form-control" name="email_test" placeholder="email@email.com.br">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          <span class="help-block">{% if input.errors %}{% for error in input.errors %}{% trans error %}<br>{% endfor %}{% endif %}</span>
        </div>
        <div class="form-group {% if input.errors %}has-error{% endif %} has-feedback">
          <input type="password" class="form-control" name="password_test" placeholder="password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <span class="help-block">{% if input.errors %}{% for error in input.errors %}{% trans error %}<br>{% endfor %}{% endif %}</span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <!-- <input type="checkbox"> Remember Me -->
              </label>
            </div>
          </div>
          <div class="col-xs-4">
            <button type="submit" class="btn btn-warning btn-block btn-flat" value="{% trans 'Log in' %}" name="loginusertest" id="loginusertest">{% trans 'Testar' %}</button>
          </div>
        </div>
      </form>
    </div>
  </div> <!-- /.login-box-body -->
</div> <!-- /.login-box -->

<!-- jQuery 3 -->
<script src="{% static 'main/js/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>

</body>
</html>


