{% extends 'main/administrador.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block left_menu %}
	<div class="menu_left">
		<table class="menu_left_table">
		</table>
	</div>
{% endblock %}
{% block page_title %}
	Voc&ecirc; n&atilde;o possui acesso a esta p&aacute;gina.
{% endblock %}
{% block center_content %}
	
{% endblock center_content %}
