{% extends 'main/base.html' %}

{% load staticfiles %}

{% load i18n %}

{% block aditional_head %}{% endblock aditional_head %}

{% block page_title %}Página não encontrada{% endblock %}

{% block page-header %} 403 Sem Autorização {% endblock page-header %}

{% block page-sub-header %} {% endblock page-sub-header %}

{% block content %}
	
  <!-- Main content -->
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-yellow"> 403</h2>

      <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Você não tem acesso a esta página.</h3>

        <p>
          Se você acredita que deveria ter acesso a esta página, contate o administrador.<br>
          <a href="{% url 'home' %}">Página Inicial</a>.
        </p>

        <form class="search-form" method='GET' action="{% url 'home' %}">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="{% trans 'Pesquisar...' %}">

            <div class="input-group-btn">
              <button type="submit" name="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
              </button>
            </div>

          </div>
          <!-- /.input-group -->
        </form>
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
  <!-- /.content -->

{% endblock content %}
