{% extends 'main/base.html' %}

{% load i18n %}

{% load staticfiles %}

{% load custom_tags %}

{% block breadcrumb-clean %} {% endblock breadcrumb-clean %}

{% block breadcrumb %}
	<i class="fa fa-home"></i>

	{% trans 'Cliente '|addstr:order.id as order_id %}

	{{ block.super }}

	{% load breadcrumb_tags %}

	{% add_crumb order_id 'cliente' order.id %}

	{% if proposal %}
		{% add_crumb proposal.id 'proposta_detalhes' order.id proposal.id %}
		{% add_crumb 'Alterar' 'alterar_proposta' order.id proposal.id %}
	{% else %}
		{% add_crumb 'Nova Proposta' 'nova_proposta' order.id %}
	{% endif %}

{% endblock breadcrumb %}

{% block page-header %}
	{% if proposal %}
		Proposta {{ proposal }} - Alterar {{ nova_proposta }}
	{% else %}
		Cliente {{ order.name }} - Nova Proposta
	{% endif %}
{% endblock page-header %}

{% block page-sub-header %}
	{% if proposal %}
		revisar e alterar proposta
	{% else %}
		criar nova proposta
	{% endif %}
{% endblock page-sub-header %}

{% block messages %}
	{% if updated|length > 0 %}
		<div class="alert alert-success fade in">
			<button type="button" class="close" data-dismiss="alert" area-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> Dados atualizados com sucesso!<h4>
		</div>
	{% endif %}
	{% if errors.list_of_errors|length > 0 %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-ban"></i> Erro! Corrija os campos abaixo.</h4>
			<ul>
				{% for key, value in errors.list_of_errors.items %}
					<li>{{ value }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock messages %}

{% block content %}
  <section class="content">
  	<!-- urls -->
  	{% url 'nova_proposta' order.id as nova_proposta_url %}
  	{% url 'alterar_proposta' order.id proposal.id as alterar_proposta_url %}
  	<!-- /urls -->

  	{% url 'alterar_proposta' order.id proposal.id as alterar_proposta_url %}
  	<form method="POST" action="{% url 'nova_proposta' order.id %}">{% csrf_token %}
  		<div class="row">
  			<!-- Col left -->
  			<div class="col-md-9 col-lg-9">
  				<div class="box box-primary">
  					<div class="box-header with-border">
  						<h3 class="box-title">Serviços - Pacote Dia da Noiva</h3>
  					</div>
            <!-- /.box-header -->
            <div class="box-body">
  	          {% for service in services_required %}
  							<div class="col-md-4 col-lg-4 top-12 bottom-12">
  								<div class="input-group">
  				          <span class="input-group-addon">
                      <input type="hidden" value="{{ service.price }}" class="checkbox-value" />
  										<input type="checkbox" name="service_checkbox" class="service_checkbox" value="{{ service }}" {% if service in services_in_proposal or current_page == nova_proposta_url %} checked {% endif %}/>
  				          </span>
  				          <input type="text" class="form-control" value="{{ service }} R${{ service.price }}" readonly>
  				        </div>
  				        <!-- /input-group -->
  							</div>
  						{% endfor %}
  	        </div>
  	        <!-- /.box-body -->
  	     	</div>
          <!-- /.box -->
    		  <div class="box box-default">
    		    <div class="box-header with-border">
    		      <h3 class="box-title">Serviços Adicionais</h3>
    		    </div>
    		    <!-- /.box-header -->
    		    <div class="box-body">
    		      {% for service in services_additional %}
    						<div class="col-md-4 col-lg-4 top-12 bottom-12">
    							<div class="input-group">
    				        <span class="input-group-addon">
    				          <input type="hidden" value="{{ service.price }}" class="checkbox-value" />
    								  <input type="checkbox"  name="service_checkbox" class="service_checkbox" value="{{ service }}" {% if service in services_in_proposal %} checked {% endif %} />
    				        </span>
    				        <input type="text" class="form-control" value="{{ service }} R${{ service.price }}" readonly>
    				      </div>
    				      <!-- /input-group -->
    						</div>
    					{% endfor %}
    		    </div>
            <!-- /.box-body -->
    		  </div>
  		    <!-- /.box -->
  		  </div>
  			<!-- /.col-left -->

  			<!-- Col Right -->
  			<div class="col-offset-md-9 col-offset-lg-9 col-md-3 col-lg-3">
  				<div class="box box-warning">
        		<div class="box-header with-border">
          		<h3 class="box-title">Total R$<span id="total">{{ total }}</span><span class="hidden" id="total_fixed">{{ total }}</span></h3>
        		</div>
        		<!-- /.box-header -->
          	<div class="box-body">
          		<section class="discount_section">
            		<span class="help-block">
            			Desconto total = R$<span id="total_discount">0,00</span><br/>
            			Desconto (em %)
            		</span>
            		{% if person.admin %}
  	          		<div class="input-group">
                		<span class="input-group-addon">
  										<input type="checkbox" name="discount_check" class="discount_checkbox" />
                		</span>
                		<input class="form-control discount_percentage" id="discount_percentage" type="number" value="0" size="3" name="discount_percentage" max="99" min="0" step="1.00">
  	            	</div>
  	           		<small class="text-muted">Máximo = sem limite (admin)</small>
  		        	{% else %}
  	           		<div class="input-group">
  		            	<span class="input-group-addon">
  									 <input type="checkbox"  name="discount_check" class="discount_checkbox" />
                		</span>
                		<input class="form-control discount_percentage" type="number" value="0" size="3" name="discount_percentage" max="{{ person.max_discount }}" min="0" step="1.00">
  	            	</div>
  	           		<small>Máximo = {{ person.max_discount }}%</small>
  		        	{% endif %}
  		        </section>
  		        <hr>
  		        <section class="due_date_section">
            		<span class="help-block">
            			Data de Vencimento da Proposta
            		</span>
             		<div class="input-group {% if errors %}{% if 'date_wedding' in errors %} has-error {% endif %}{% endif %}">
                	<div class="input-group-addon">
                  	<i class="fa fa-calendar"></i>
                	</div>
                	<input type="text" class="form-control" name="due_date" data-inputmask="'alias': 'dd/mm/yyyy', 'placeholder': 'dd/mm/aaaa'" value="{% if proposal.due_date %}{{ proposal.due_date|date:'d/m/Y' }}{% else %}{{ one_month_due_date|date:'d/m/Y' }}{% endif %}" data-mask>
                </div>
  		        </section>
          	</div>
  					<!-- /.box-body -->
  					<br/>
          	<div class="box-footer">
          		<br/>
          		{% if proposal %}
          			<input type="hidden" name="type" value="proposal_alter">
          			<input type="hidden" name="proposal_id" value="{{ proposal.id }}">
          		{% else %}
          			<input type="hidden" name="type" value="proposal_new">
          		{% endif %}
            	<input type='submit' value='Finalizar Proposta' name='avancar' class='btn btn-primary'>
          	</div>
          	<!-- /.box-footer -->
  		      <br/>
        	</div>
        	<!-- /.box -->
  			</div>
  			<!-- /.col-right -->
  		</div>
  		<!-- /.row -->
  	</form>
  </section>
  <!-- /.content -->
{% endblock content %}

{% block extrascript %}
	<script>
		$(document).ready(calculateAllServices);
	</script>
{% endblock extrascript %}