{% extends 'indika/base.html' %}
{% load staticfiles %}

{% block page_title %}Pesquisar{% endblock %}

{% block aditional_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'indika/pesquisar.css' %}">
{% load custom_tags %}
{% endblock aditional_head %}

{% block center %}
<div class="category_page">
	<div class='resultados'>
		{{ actual_page.number }}-{{ pag_top.num_pages }}, {{ final_query|length }} resultado{{ final_query|length|pluralize }}
	</div>
	{% if pag_top.count == 0 %}
		<div class='title2'>
			Nenhum produto encontrado para "{{ q }}".
		</div>
		<div class='filters'>
			<span style='font-weight: 600'>Filtrar por categoria: </span>
			<form method='POST' action=''>	 {% csrf_token %}
				{% for category in categories %}
					<input type='checkbox' id='{{ category }}' name='categories' value='{{ category }}' 
						{% if category.name in filter %}
							CHECKED
						{% endif %}
					><label for="{{ category }}">{{ category }}</label>
				{% endfor %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='submit' value='Filtrar' name='filter'>
			</form><br>
			
		</div>
	{% else %}
		<div class='title2'>
			Mostrando resultados para "{{ q }}".<br>
		</div>
		<div class='filters'>
			<span style='font-weight: 600'>Filtrar por categoria: </span>
			<form method='POST' action=''>	 {% csrf_token %}
				{% for category in categories %}
					<input type='checkbox' id='{{ category }}' name='categories' value='{{ category }}' 
						{% if category.name in filter %}
							CHECKED
						{% endif %}
					><label for="{{ category }}">{{ category }}</label>
				{% endfor %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='submit' value='Filtrar' name='filter'>
			</form><br>
			
		</div>
		<div class='newest_products newest_products_first'>
			{% for product in actual_page.object_list %}
				{% if product.service == True %}
					<a href="/produto/{{ product.url }}/">
						<div class="product">
							<div class='product_mouseover'><br>
								VER MAIS DETALHES
							</div>
							<div class="product_image_container">
								<div class="product_image">
									<img src="{{ product.image.url }}" alt="imagem" width='128px' height='130px'>
								</div>
							</div>
							<div class="product_title">
								{{ product.name|truncatechars:50 }}
							</div>
							<div class="product_price">
								{% load humanize %}
								R${{ product.price|real}}<br>{{ product.ik0 }}% CR&Eacute;DITO INDIKA
							</div>
						</div>
					</a>
				{% else %}
					<a href="/produto/{{ product.url }}/">
						<div class="product">
							<div class='product_mouseover'><br>
								VER MAIS DETALHES
							</div>
							<div class="product_image_container">
								<div class="product_image">
									<img src="{{ product.image.url }}" alt="imagem" width='128px' height='130px'>
								</div>
							</div>
							<div class="product_title">
								{{ product.name|truncatechars:50 }}
							</div>
							<div class="product_price">
								{% load humanize %}
								R${{ product.price|real}}<br>{{ product.ik0 }}% CR&Eacute;DITO INDIKA
							</div>
							{% if product.type == 'servico' %}
								<div class='procut_add'>
								</div>
							{% else %}
								<div class='procut_add'>
									<form method='POST' action='/carrinho/adicionar/'> {% csrf_token %}
										<input type='hidden' value='{{ product }}' name='product'>
										<input type='hidden' value='{{ product.url }}' name='product_url'>
										<input type='hidden' value='{{ product.image.url }}' name='image'>
										<input type='hidden' value='{{ product.price }}' name='price'>
										<input type='hidden' value='1' name='quantity'>
										<input type='hidden' value='{{ request.path }}' name='path'>

										<input type='image' src="{% static 'indika/carrinho2.png'%}" class='carrinho_icon' width='35px' alt='carrinho' title='Adicionar ao carrinho'> 
									</form>
								</div>
							{% endif %}
						</div>
					</a>
				{% endif %}
			{% endfor %}
			<div class='page_counter'>
				{% if actual_page.has_previous %}
					<a href="?page={{ actual_page.previous_page_number }}"><span style='color: #0066c0'>< Anterior</span></a>
				{% endif %}
				
				{% for page in pag_top.page_range %}
					{% if actual_page.number != page %}
						<a href="?page={{ page }}"><span style="color: #0066c0; font-weight: 400">{{ page }}<span></a>
					{% else %}
						<a href="?page={{ page }}"><span style="color: #000; font-weight: 600;">{{ page }}</span></a>
					{% endif %}
				{% endfor%}
				
				{% if actual_page.has_next %}
					<a href="?page={{ actual_page.next_page_number }}"><span style='color: #0066c0'>Pr&oacute;xima ></span></a>
				{% endif %}
			</div>
		</div><!-- newest_products2 -->
	{% endif %}
</div>
{% endblock %}