{% extends 'main/base.html' %}

{% load i18n %}

{% load staticfiles %}

{% load custom_tags %}

{% block breadcrumb-clean %} {% endblock %}

{% block breadcrumb %}

  {% trans 'Cliente '|addstr:order.id as order_id %}

  {% trans 'Proposta '|addstr:proposal.id as proposal_id %}

  <i class="fa fa-home"></i>

  {{ block.super }}

  {% load breadcrumb_tags %}

  {% add_crumb order_id 'cliente' order.id %}

  {% add_crumb proposal_id 'proposta_detalhes' order.id proposal.id %}

{% endblock breadcrumb %}

{% block page-header %} Proposta {{ proposal }} {% endblock page-header %}

{% block page-sub-header %} visualizar e editar proposta {% endblock page-sub-header %}

{% block messages %}
  {% if success %}
    {% if 'proposta' in success %}
      <div class="alert alert-success fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-check"></i> Proposta enviada com sucesso!</h4>
        Abra o arquivo da proposta através do link criado abaixo.
      </div>
    {% endif %}
  {% endif %}
  {% if errors %}
    <div class="alert alert-danger fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><i class="icon fa fa-ban"></i> Erro! Verifique os campos abaixo.</h4>
      <ul>
        {% for key, value in errors.items %}
          {% if key == 'date_return' %}
            <li>{{ value }}</li>
            {% trans 'date_return_error' as date_return_error %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock messages %}

{% block content %}
  <div class="container">
    <div class="row">
      {% if proposal.proposal_sent %}
        <div class="col-md-5 col-lg-5">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Proposta Enviada</h3>
            </div>
            <div class="panel-body">
              Proposta enviada com sucesso no dia {{ proposal.proposal_date_sent|date:"d/m/Y" }}.<br>
              Retornar no dia {{ proposal.order.date_return|date:"d/m/Y" }}.<br>
              {% if proposal.proposal %} <a target="_blank" href="{{ proposal.proposal.url }}">Visualizar Proposta</a> {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
      {% if proposal.contract_sent %}
        <div class="col-md-5 col-lg-5">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Contrato Enviado</h3>
            </div>
            <div class="panel-body">
              Contrato enviado com sucesso no dia {{ proposal.contract_date_sent|date:"d/m/Y" }}.<br>
              Retornar no dia {{ proposal.order.date_return|date:"d/m/Y" }}.<br>
              {% if proposal.contract %} <a target="_blank" href="{{ proposal.contract.url }}">Visualizar Contrato</a> {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <section class="invoice">
    <header>
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            {% if store.logo %}
              <figure style="display: inline-block">
                <img src="{{ store.logo.url }}" alt=" {{ store.name }}" height="50px">
              </figure>
            {% else %}
              {{ store.name }}
            {% endif %}
            <small class="pull-right">Data: {{ today|date:"d/m/Y" }}</small>
          </h2>
        </div>
      </div>
    </header>
    <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        De
        <address>
          <strong>{{ store.name }}</strong><br>
          {{ store.address }}<br>
          Telefone{{ store.get_phones|pluralize }}: {% for phone in store.get_phones %}{{ phone }} {% endfor %}<br>
          Email: {{ store.email }}
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        Para
        <address>
          <strong>{{ proposal.order.get_full_name }}</strong><br>
          {{ proposal.order.street }}<br>
          Telefone: {{ proposal.order.phone }}<br>
          Email: {{ proposal.order.email }}
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <b>Código #{{ order.order_number }}</b><br>
        <br>
        <b>cliente ID:</b> {{ order.id }}<br>
        <b>Vencimento da Proposta:</b> {{ proposal.due_date|date:"d/m/Y" }}<br>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
      <div class="col-xs-12 table-responsive">
        <hr class="style15">
        <table class="table table-striped">
          <thead>
            <caption><em>(Os preços individuais de cada serviço não aparecerão para o cliente)</em></caption>
            <tr>
                {% if proposaldetails|length == 1 %}
                    <th style="border-left: 1px solid #dddddd; border-top: 1px solid #dddddd;">Serviço</th>
                    <th style="border-right: 1px solid #dddddd; border-top: 1px solid #dddddd; border-right: 1px solid #dddddd;">Preço</th>
                {% elif proposaldetails|length == 2 %}
                    <th style="border-left: 1px solid #dddddd; border-top: 1px solid #dddddd;">Serviço</th>
                    <th style="border-right: 1px solid #dddddd; border-top: 1px solid #dddddd; border-right: 1px solid #dddddd;">Preço</th>
                    <th style="border-left: 1px solid #dddddd; border-top: 1px solid #dddddd;">Serviço</th>
                    <th style="border-right: 1px solid #dddddd; border-top: 1px solid #dddddd; border-right: 1px solid #dddddd;">Preço</th>
                {% elif proposaldetails|length >= 3 %}
                    <th style="border-left: 1px solid #dddddd; border-top: 1px solid #dddddd;">Serviço</th>
                    <th style="border-right: 1px solid #dddddd; border-top: 1px solid #dddddd; border-right: 1px solid #dddddd;">Preço</th>
                    <th style="border-left: 1px solid #dddddd; border-top: 1px solid #dddddd;">Serviço</th>
                    <th style="border-right: 1px solid #dddddd; border-top: 1px solid #dddddd; border-right: 1px solid #dddddd;">Preço</th>
                    <th style="border-left: 1px solid #dddddd; border-top: 1px solid #dddddd;">Serviço</th>
                    <th style="border-right: 1px solid #dddddd; border-top: 1px solid #dddddd; border-right: 1px solid #dddddd;">Preço</th>
                {% endif %}
            </tr>
          </thead>
          <tbody style="border-bottom: 1px solid #dddddd; border-top: 1px solid #dddddd;">
            {% if proposaldetails|length <= 3 %}
                <tr>
                    {% for proposaldetail in proposaldetails %}
                        <td style="border-left: 1px solid #dddddd;">{{ proposaldetail.service }}</td>
                        <td style="border-right: 1px solid #dddddd; border-right: 1px solid #dddddd;">R${{ proposaldetail.service.price|real }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
            {% if proposaldetails|length >= 4 %}
                {% for proposaldetail in proposaldetails %}
                    {% if forloop.counter == 1 %}
                        <tr>
                    {% endif %}
                    <td style="border-left: 1px solid #dddddd; border-bottom: 1px solid #dddddd;">{{ proposaldetail.service }}</td>
                    <td style="border-right: 1px solid #dddddd; border-right: 1px solid #dddddd; border-bottom: 1px solid #dddddd;">R${{ proposaldetail.service.price|real }}</td>
                    {% if forloop.counter|divisibleby:3 %}
                        </tr>
                    {% endif %}
                    {% if not forloop.last and forloop.counter|divisibleby:3 %}
                        <tr>
                    {% elif forloop.last and not forloop.counter|divisibleby:3 %}
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
          </tbody>
        </table><br>
        <hr class="style15">
        <h5><strong>Atendente:</strong> {{ proposal.attendant|title }}</h5><br><br>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
      <!-- accepted payments column -->
      <div class="col-xs-6">
        <p class="lead">Formas de Pagamento:</p>
          <h4>À Vista</h4>
          {% for method in payment_methods %}
            {% if method.installments == 1 %}
              {% if method.payment_method.image %}
                <img src="{{ method.payment_method.image.url }}" alt="{{ method.payment_method.name }}"><br/>
              {% else %}
                {{ method.payment_method.name }}
              {% endif %}
            {% endif %}
          {% endfor %}
          <h4>Parcelado</h4>
          {% for method in payment_methods %}
            {% if method.installments > 1 %}
              {% if method.payment_method.image %}
                <img src="{{ method.payment_method.image.url }}" alt="{{ method.payment_method.name }}"> - Parcelado {{ method.installments }}x<br/>
              {% else %}
                {{ method.payment_method.name }} - Parcelado {{ method.installments }}x
              {% endif %}
            {% endif %}
          {% endfor %}
        <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
          Verifique as condições de pagamento.
        </p>
      </div>
      <!-- /.col -->
      <div class="col-xs-6">
        <p class="lead">Vencimento da Proposta {{ proposal.due_date|date:"d/m/Y" }}</p>

        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:50%;">Subtotal:</th>
              <td>R${{ proposal.total|floatformat:2|real }}</td>
            </tr>
            <tr>
              <th>Desconto ({{ proposal.discount }}%)</th>
              <td>R${{ proposal.discount_total|floatformat:2|real }}</td>
            </tr>
            <tr>
              <th>Total:</th>
              <td>R${{ proposal.total2|floatformat:2|real }}</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- this row will not appear when printing -->
    <form method="POST" action="">{% csrf_token %}
      <div class="row no-print">
        <div class="col-md-12">
          {% if not proposal.proposal_sent %}
            <div class="row">
              <div class="col-md-6">
                Data de Retorno:
                <div class="input-group {% if errors %}{% if 'date_return' in errors %}has-error{% endif %}{% endif %}">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control" name="date_return" data-inputmask="'alias': 'dd/mm/yyyy', 'placeholder': 'dd/mm/aaaa'" data-mask>
                </div>
                {% if errors %}
                  {% if 'date_return' in errors %}
                    <div class="has-error">
                      <span class="help-block has-error">Data de retorno inválida</span>
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div><br>
          {% endif %}
          <div class="row">
            <div class="col-md-12">
              {% trans 'Deseja mesmo enviar a proposta para o email do cliente?' as message %}
              {% if not proposal.proposal_sent %}
                <button type='submit' name='enviar_proposta' class='btn btn-success' onclick="return confirm('{{ message }}')">Enviar Proposta</button>
              {% endif %}
              <a href="{% url 'alterar_proposta' order.id proposal.id %}" class="btn btn-primary">Alterar Proposta</a>
              <a href="{% url 'proposta_imprimir' order.id proposal.id %}" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Imprimir</a>
              {% if proposal.contract_sent %}
                <a href="{% url 'proposta_contrato' order.id proposal.id %}" class="btn btn-success pull-right">Ver Detalhes do Contrato</a>
              {% elif proposal.proposal_sent %}
                <a href="{% url 'proposta_dados_adicionais' order.id proposal.id %}" class='btn btn-success pull-right'>Prosseguir Para Contrato</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <!-- /.invoice -->
{% endblock content %}