{% extends 'main/base.html' %}

{% load i18n %}

{% load staticfiles %}

{% load custom_tags %}

{% block breadcrumb-clean %} {% endblock breadcrumb-clean %}

{% block breadcrumb %}

	{% trans 'Cliente '|addstr:order.id as order_id %}

  {% trans 'Proposta '|addstr:proposal.id as proposal_id %}

	<i class="fa fa-home"></i>

	{{ block.super }}

	{% load breadcrumb_tags %}

	{% add_crumb order_id 'cliente' order.id %}

	{% add_crumb proposal_id 'proposta_detalhes' order.id proposal.id %}

	{% add_crumb 'Dados Adicionais' 'proposta_dados_adicionais' order.id proposal.id %}

{% endblock breadcrumb %}

{% block page-header %} Proposta {{ proposal }} - Contrato {% endblock page-header %}

{% block page-sub-header %} dados adicionais {% endblock page-sub-header %}

{% block messages %}
	{% if messages.errors|length > 0 %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-ban"></i> Erro! Corrija os campos abaixo.</h4>
		</div>
	{% endif %}
	{% if messages.updated|length > 0 %}
		<div class="alert alert-success fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> Dados atualizados com sucesso!</h4>
		</div>
	{% endif %}
{% endblock messages %}

{% block content %}
	<section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Dados Adicionais</h3>
          </div>
          <form role="form" method="POST" action=""> {% csrf_token %}
            <div class="box-body">
							{% for input in form_order %}
								<div class="form-group {% if input.name in messages.errors %} has-error {% elif input.name in messages.updated %} has-success {% endif %}">
									<label for="{{ input.label }}">{{ input.label }}</label>
									<div class="input-group {% if input.name in messages.errors %} has-error {% elif input.name in messages.updated %} has-success {% endif %}">
										<div class="input-group-addon">
											{% if input.name == 'name' or input.name == 'lastname' %}
	                    	<i class="fa fa-user"></i>
	                    {% elif input.name == 'street' %}
	                    	<i class="fa fa-home"></i>
	                    {% elif input.name == 'number' %}
	                    	<i class="fa fa-home"></i>
	                    {% elif input.name == 'complement' %}
	                    	<i class="fa fa-home"></i>
	                    {% elif input.name == 'district' %}
	                    	<i class="fa fa-home"></i>
	                    {% elif input.name == 'phone' %}
	                    	<i class="fa fa-phone"></i>
	                    {% elif input.name == 'email' %}
	                    	<i class="fa fa-envelope"></i>
	                    {% elif input.name == 'status' %}
	                    	<i class="fa fa-circle"></i>
	                    {% elif input.name == 'city' %}
	                    	<i class="fa fa-map"></i>
	                    {% elif input.name == 'state' %}
	                    	<i class="fa fa-map"></i>
	                    {% elif input.name == 'cep' %}
	                    	<i class="fa fa-map"></i>
	                    {% elif input.name == 'cpf' %}
	                    	<i class="fa fa-user"></i>
	                    {% elif input.name == 'rg' %}
	                    	<i class="fa fa-user"></i>
	                    {% elif input.name == 'professional_hair' %}
	                    	<i class="fa fa-user-md"></i>
	                    {% elif input.name == 'professional_make_up' %}
	                    	<i class="fa fa-user-md"></i>
											{% endif %}
	                  </div>
										{{ input }}
									</div>
									<span class="help-block {% if input.name in messages.errors %} has-error {% elif input.name in messages.updated %} has-success {% endif %}">
										{% if input.name in messages.updated or input.name in messages.errors %}
											{% if input.name in messages.updated %}
												{% for key, value in messages.updated.items %}
													{% if key == input.name %}
														{{ value }}<br>
													{% endif %}
												{% endfor %}
											{% elif input.name in messages.errors %}
												{% for key, value in messages.errors.items %}
													{% if key == input.name %}
														{{ value }}<br>
													{% endif %}
												{% endfor %}
											{% endif %}
										{% endif %}
										{{ input.help_text }}
									</span>
								</div>
							{% endfor %}
            	<div
                class="form-group {% if 'date_wedding' in messages.errors %} has-error {% elif 'date_wedding' in messages.updated %} has-success {% endif %}"
              >
            		<label for="date_wedding">Data do Casamento</label>
	    					<div class="input-group {% if 'date_wedding' in messages.errors %} has-error {% elif 'date_wedding' in messages.updated %} has-success {% endif %}">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" value="{{ order.date_wedding|date:'d/m/Y' }}" class="form-control" name="date_wedding" id="date_wedding" data-inputmask="'alias': 'dd/mm/yyyy', 'placeholder': 'dd/mm/aaaa'" data-mask>
                </div>
                {% if 'date_wedding' in messages.errors or 'date_wedding' in messages.updated %}
	                <span class="help-block {% if 'date_wedding' in messages.errors %} has-error {% elif 'date_wedding' in messages.updated %} has-success {% endif %}">
	                	{% if 'date_wedding' in messages.errors %}
											{% for key, value in messages.errors.items %}
												{% if key == 'date_wedding' %}
													{{ value }}<br>
												{% endif %}
											{% endfor %}
										{% elif 'date_wedding' in messages.updated %}
											{% for key, value in messages.updated.items %}
												{% if key == 'date_wedding' %}
													{{ value }}<br>
												{% endif %}
											{% endfor %}
										{% endif %}
									</span>
	              {% endif %}
              </div>
              <div
                class="form-group {% if 'time_arrival' in messages.errors %} has-error {% elif 'time_arrival' in messages.updated %} has-success {% endif %}"
              >
            		<label for="time_arrival">Horário de Entrada</label>
	    					<div class="input-group {% if 'time_arrival' in messages.errors %} has-error {% elif 'time_arrival' in messages.updated %} has-success {% endif %}">
                  <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                  </div>
                  <input type="text" value="{{ order.time_arrival }}" class="form-control" name="time_arrival" id="time_arrival" data-inputmask="'mask': '99:99'" data-mask>
                </div>
                {% if 'time_arrival' in messages.errors or 'time_arrival' in messages.updated %}
	                <span class="help-block has-error">
	                	{% if 'time_arrival' in messages.errors %}
											{% for key, value in messages.errors.items %}
												{% if key == 'time_arrival' %}
													{{ value }}<br>
												{% endif %}
											{% endfor %}
										{% elif 'time_arrival' in messages.updated %}
											{% for key, value in messages.updated.items %}
												{% if key == 'date_wedding' %}
													{{ value }}<br>
												{% endif %}
											{% endfor %}
										{% endif %}
									</span>
	              {% endif %}
              </div>
              <div
                class="form-group {% if 'time_leaving' in messages.errors %} has-error {% elif 'time_leaving' in messages.updated %} has-success {% endif %}"
              >
            		<label for="time_leaving">Horário de Saída</label>
	    					<div class="input-group {% if 'time_leaving' in messages.errors %} has-error {% elif 'time_leaving' in messages.updated %} has-success {% endif %}">
                  <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                  </div>
                  <input type="text" value="{{ order.time_leaving }}" class="form-control" name="time_leaving" id="time_leaving" data-inputmask="'mask': '99:99'" data-mask>
                </div>
                {% if 'time_leaving' in messages.errors or 'time_leaving' in messages.updated %}
	                <span class="help-block has-error">
	                	{% if 'time_leaving' in messages.errors %}
											{% for key, value in messages.errors.items %}
												{% if key == 'time_leaving' %}
													{{ value }}<br>
												{% endif %}
											{% endfor %}
										{% elif 'time_leaving' in messages.updated %}
											{% for key, value in messages.updated.items %}
												{% if key == 'date_wedding' %}
													{{ value }}<br>
												{% endif %}
											{% endfor %}
										{% endif %}
									</span>
	              {% endif %}
              </div>
              <div
                class="form-group {% if 'date_test' in messages.errors %} has-error {% elif 'date_test' in messages.updated %} has-success {% endif %}"
              >
            		<label for="date_test">Data do Teste</label>
	    					<div class="input-group {% if 'date_test' in messages.errors %} has-error {% elif 'date_test' in messages.updated %} has-success {% endif %}">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" value="{{ order.date_test|date:'d/m/Y' }}" class="form-control" name="date_test" id="date_test" data-inputmask="'alias': 'dd/mm/yyyy', 'placeholder': 'dd/mm/aaaa'" data-mask>
                </div>
                {% if 'date_test' in messages.errors or 'date_test' in messages.updated %}
		              <span class="help-block has-error">
		              	{% if 'date_test' in messages.errors %}
											{% for key, value in messages.errors.items %}
												{% if key == 'date_test' %}
													{{ value }}<br>
												{% endif %}
											{% endfor %}
										{% elif 'date_test' in messages.updated %}
											{% for key, value in messages.updated.items %}
												{% if key == 'date_wedding' %}
													{{ value }}<br>
												{% endif %}
											{% endfor %}
										{% endif %}
									</span>
	              {% endif %}
              </div>
              <div
                class="form-group {% if 'time_test' in messages.errors %} has-error {% elif 'time_test' in messages.updated %} has-success {% endif %}"
              >
            		<label for="time_test">Horário do Teste</label>
	    					<div class="input-group {% if 'time_test' in messages.errors %} has-error {% elif 'time_test' in messages.updated %} has-success {% endif %}">
                  <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                  </div>
                  <input type="text" value="{{ order.time_test }}" class="form-control" name="time_test" id="time_test" data-inputmask="'mask': '99:99'" data-mask>
                </div>
                {% if 'time_test' in messages.errors or 'time_test' in messages.updated %}
	                <span class="help-block has-error">
	                	{% if 'time_test' in messages.errors %}
											{% for key, value in messages.errors.items %}
												{% if key == 'time_test' %}
													{{ value }}<br>
												{% endif %}
											{% endfor %}
										{% elif 'time_test' in messages.updated %}
											{% for key, value in messages.updated.items %}
												{% if key == 'time_test' %}
													{{ value }}<br>
												{% endif %}
											{% endfor %}
										{% endif %}
									</span>
	              {% endif %}
              </div>
              <div
                class="form-group {% if 'date_return' in messages.errors %} has-error {% elif 'date_return' in messages.updated %} has-success {% endif %}"
              >
            		<label for="date_return">Data de Retorno</label>
	    					<div class="input-group {% if 'date_return' in messages.errors %} has-error {% elif 'date_return' in messages.updated %} has-success {% endif %}">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" value="{{ order.date_return|date:'d/m/Y' }}" class="form-control" name="date_return" id="date_return" data-inputmask="'alias': 'dd/mm/yyyy', 'placeholder': 'dd/mm/aaaa'" data-mask>
                </div>
                {% if 'date_return' in messages.errors or 'date_return' in messages.updated %}
		              <span class="help-block has-error">
		              	{% if 'date_return' in messages.errors %}
											{% for key, value in messages.errors.items %}
												{% if key == 'date_return' %}
													{{ value }}<br>
												{% endif %}
											{% endfor %}
										{% elif 'date_return' in messages.updated %}
											{% for key, value in messages.updated.items %}
												{% if key == 'date_return' %}
													{{ value }}<br>
												{% endif %}
											{% endfor %}
										{% endif %}
									</span>
	              {% endif %}
              </div>
            </div>
            <div class="box-footer">
            	<button type="submit" class="btn btn-success" name="avancar_proposta" id="avancar_proposta">Avançar</button>
            </div>
          </form>
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>
  <!-- /.content -->
{% endblock content %}
