{% extends 'main/base.html' %}

{% load i18n %}

{% load staticfiles %}

{% load custom_tags %}

{% block breadcrumb-clean %} {% endblock %}

{% block breadcrumb %}

  {% trans 'Cliente '|addstr:order.id as order_id %}

  {% trans 'Proposta '|addstr:proposal.id as proposal_id %}

  <i class="fa fa-home"></i>

  {{ block.super }}

  {% load breadcrumb_tags %}

  {% add_crumb order_id 'cliente' order.id %}

  {% add_crumb proposal_id 'proposta_detalhes' order.id proposal.id %}

  {% add_crumb 'Dados Adicionais' 'proposta_dados_adicionais' order.id proposal.id %}

  {% add_crumb 'Pagamento' 'proposta_pagamento' order.id proposal.id %}

  {% add_crumb 'Enviar Contrato' 'proposta_contrato' order.id proposal.id %}

{% endblock breadcrumb %}

{% block page-header %} Proposta {{ proposal }} - Contrato {% endblock page-header %}

{% block page-sub-header %} revisar e enviar {% endblock page-sub-header %}

{% block messages %}
	{% if success %}
    {% if 'contrato' in success %}
      <div class="alert alert-success fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-check"></i> Proposta enviada com sucesso!</h4>
        Abra o arquivo da proposta através do link criado abaixo.
      </div>
    {% endif %}
  {% endif %}
  {% if errors %}
    <div class="alert alert-danger fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><i class="icon fa fa-ban"></i> Erro! Verifique os campos abaixo.</h4>
      <ul>
        {% for key, value in errors.items %}
          {% if key == 'date_return' %}
            <li>{{ value }}</li>
            {% trans 'date_return_error' as date_return_error %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock messages %}

{% block content %}
	<div class="container">
	 	<div class="row">
			{% if proposal.contract_sent %}
				<div class="col-md-5 col-lg-5">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">Contrato Enviado</h3>
						</div>
						<div class="panel-body">
							Contrato enviado com sucesso no dia {{ proposal.contract_date_sent|date:"d/m/Y" }}.<br>
							Retornar no dia {{ proposal.order.date_return|date:"d/m/Y" }}.<br>
							{% if proposal.contract %} <a target="_blank" href="{{ proposal.contract.url }}">Visualizar Contrato</a> {% endif %}
						</div>
					</div>
				</div>
			{% endif %}
		</div> <!-- /.row -->
	</div> <!-- /.container -->

  <section class="contract invoice">
    <header>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            {% if store.logo %}
              <img src="{{ store.logo.url }}" alt=" {{ store.name }}" height="50px">
            {% else %}
              {{ store.name }}
            {% endif %}
            <small class="pull-right">Data: {{ today|date:"d/m/Y" }}</small>
          </h2>
        </div>
      </div>
    </header>

    <section class="contract-articles">
      <h3 class="text-center">{{ title }}</h3>
      <div class="row">
        <div class="col-sm-12">
          <br />
          <p>{{ header|safe }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <br />
          {% for key, value in articles.items %}
            <h4>{{ value.title|safe }}</h4>
            <p>{{ value.content|safe }}</p><br/>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <br />
          <p>{{ footer|safe }}</p>
        </div>
      </div><br>
    </section> <!-- /.contract-articles -->

    <!-- This row will not appear when printing -->
    <form method="POST" action="">{% csrf_token %}
	    <div class="row no-print">
	    	<div class="col-md-12">
	    		{% if not proposal.contract_sent %}
	    			<div class="row">
	    				<div class="col-md-6">
	    					Data de Retorno:
	    					<div class="input-group {% if errors %}{% if 'date_return' in errors %}has-error{% endif %}{% endif %}">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control" name="date_return" data-inputmask="'alias': 'dd/mm/yyyy', 'placeholder': 'dd/mm/aaaa'" data-mask>
                </div>
                {% if errors %}
                	{% if 'date_return' in errors %}
		                <div class="has-error">
		                	<span class="help-block has-error">Data de retorno inválida</span>
		                </div>
		              {% endif %}
	              {% endif %}
							</div>
						</div><br>
					{% endif %}
					<div class="row">
						<div class="col-md-12">
							{% if proposal.contract_sent %}
								<a href="{% url 'proposta_detalhes' order.id proposal.id %}" class="btn btn-primary">{% trans 'Voltar Para Proposta' %}</a>
							{% else %}
								{% trans 'Deseja mesmo enviar a proposta para o email do cliente?' as message %}
								<button type='submit' name='enviar_contrato' class='btn btn-success' onclick="return confirm('{{ message }}')">Enviar Contrato</button>
							{% endif %}
							<a href="{% url 'contrato_imprimir' order.id proposal.id %}" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Imprimir</a>
						</div>
					</div>
				</div>
			</div>
		</form> <!-- /.no-print -->
  </section> <!-- /.invoice -->
{% endblock content %}