{% extends 'main/base.html' %}

{% load i18n %}

{% load staticfiles %}

{% load custom_tags %}

{% block breadcrumb-clean %} {% endblock breadcrumb-clean %}

{% block breadcrumb %}

	{% trans 'Cliente '|addstr:order.id as order_id %}

	{% trans 'Proposta '|addstr:proposal.id as proposal_id %}

	<i class="fa fa-home"></i>

	{{ block.super }}

	{% load breadcrumb_tags %}

	{% add_crumb order_id 'cliente' order.id %}

	{% add_crumb proposal_id 'proposta_detalhes' order.id proposal.id %}

	{% add_crumb 'Dados Adicionais' 'proposta_dados_adicionais' order.id proposal.id %}

	{% add_crumb 'Pagamento' 'proposta_pagamento' order.id proposal.id %}

{% endblock breadcrumb %}

{% block page-header %} Proposta {{ proposal }} - Pagamento {% endblock page-header %}

{% block page-sub-header %} dados de pagamento {% endblock page-sub-header %}

{% block messages %}
	{% if messages.errors|length > 0 %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-ban"></i> Erro! Corrija os erros abaixo.</h4>
			<ul>
				{% for key, value in messages.errors.items %}
					<li>{{ value }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% if messages.updated|length > 0 %}
		<div class="alert alert-success fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> Dados atualizados com sucesso!</h4>
		</div>
	{% endif %}
{% endblock messages %}

{% block content %}
	<section class="content">
		<div class="row">
			<div class="col-md-12">
					<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Pagamento</h3>
					</div>
					<form role="form" method="POST" action=""> {% csrf_token %}
						<div class="box-body">
							<div class="row">
								<div class="box-left col-md-6"><br />
									<div class="form-group">
										<label for="total">Valor a Pagar</label>
										<div class="input-group col-md-6">
											<div class="input-group-addon">
												<i class="fa fa-money"></i>
											</div>
											<input type="text" class="form-control" name="total" id="total" value="R$ {{ proposal.total2 }}"  readonly>
											<input type="hidden" id="total_to_pay" value="{{ proposal.total2 }}">
										 </div>
									</div>

									<div class="form-group">
										<label for="total">Forma de Pagamento</label>
										<div class="input-group col-md-6">
											<div class="input-group-addon">
												<i class="fa fa-credit-card"></i>
											</div>
											<select name="payment_type" class="form-control payment_type" id="payment_type">
												{% for payment_method in payment_methods %}
													<option value='{"{{ payment_method.id }}":"{{ payment_method.installments }}"}'>{{ payment_method }}</option>
												{% endfor %}
											</select>
										</div>
									</div>

									<div class="form-group">
										<label for="total">Quantidade de Parcelas. Máx: <span class="max_installments"></span> </label>
										<div class="input-group col-md-6">
											<div class="input-group-addon">
												<i class="fa fa-calendar-check-o"></i>
											</div>
											<input type="number" class="form-control installments_qt" name="installments_qt" id="installments_qt" value="1" min="1" max="{{ payment_methods.0.installments }}" step="1.00">
										 </div>
									</div>
								</div>
								<!-- /.box-left -->

								<div class="box-right col-md-6"><br />
									<div class="form-group row">
										<label class="control-label col-sm-3" for="total">Parcela</label>
										<label class="control-label col-sm-3" for="total">Valor</label>
										<label class="control-label col-sm-4" for="total">Data de Vencimento</label>
									</div>
									<!-- Installments -->
									<div class="installments_all">
										<!-- Preenchido de maneira dinâmico por jQuery -->
									</div> <!-- /.installments_all -->
								</div> <!-- /.box-right -->
							</div> 	<!-- /.row -->
						</div> <!-- /.box-body -->
						<div class="box-footer">
							<button type="submit" class="btn btn-success" name="avancar_proposta" id="avancar_proposta">Avançar</button>
						</div>
					</form>
					</div> <!-- /.box -->
			</div> <!-- /.col -->
		</div> <!-- /.row -->
	</section> <!-- /.content -->
{% endblock content %}

{% block extrascript %}
	<script>
		$(document).ready(getInstallments);
	</script>
{% endblock extrascript %}