<!DOCTYPE html>
<html lang="pt">
 <head>

  {% load i18n %}

  {% load staticfiles %}

  {% load custom_tags %}

  <!-- Meta Tags -->
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="author" content="Bruno A. Lucena">

  <title>{% block title %} Dia da Noiva {% endblock %}</title>

  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">

  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'main/css/ionicons.min.css' %}">

  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'main/css/AdminLTE.min.css' %}">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- [if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  [endif] -->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <!-- Css -->
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />

  {% block extrastyle %} {% endblock extrastyle %}

</head>
<body onload="window.print();">
<div>
  <section class="invoice">
    <!-- title row -->
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          {% if store.logo %}
            <figure style="display: inline-block">
              <img src="{{ store.logo.url }}" alt=" {{ store.name }}" height="50px">
            </figure>
          {% else %}
            {{ store.name }}
          {% endif %}
          <small class="pull-right">Data: {{ today|date:"d/m/Y" }}</small>
        </h2>
      </div>
      <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        De
        <address>
          <strong>{{ store.name }}</strong><br>
          {{ store.address }}<br>
          Telefone{{ store.get_phones|pluralize }}: {% for phone in store.get_phones %}{{ phone }} {% endfor %}<br>
          Email: {{ store.email }}
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        Para
        <address>
          <strong>{{ proposal.order.full_name }}</strong><br>
          {{ proposal.order.street }}, n{{ proposal.order.number }}<br>
          {{ proposal.order.city }}, {{ proposal.order.state }} {{ proposal.order.cep }}<br>
          Telefone: {{ proposal.order.phone }}<br>
          Email: {{ proposal.order.email }}
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <b>Código #{{ order.order_number }}</b><br>
        <br>
        <b>cliente ID:</b> {{ order.id }}<br>
        <b>Pagar Até:</b> {{ payment_due|date:"d/m/Y" }}<br>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
          <div class="col-xs-12 table-responsive">
            <hr class="style15">
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% if proposaldetails|length == 1 %}
                            <th style="border-left: 1px solid #dddddd; border-top: 1px solid #dddddd; border-right: 1px solid #dddddd;">Serviço</th>
                        {% elif proposaldetails|length == 2 %}
                            <th style="border-left: 1px solid #dddddd; border-top: 1px solid #dddddd; border-right: 1px solid #dddddd;">Serviço</th>
                            <th style="border-left: 1px solid #dddddd; border-top: 1px solid #dddddd; border-right: 1px solid #dddddd;">Serviço</th>
                        {% elif proposaldetails|length >= 3 %}
                            <th style="border-left: 1px solid #dddddd; border-top: 1px solid #dddddd; border-right: 1px solid #dddddd;">Serviço</th>
                            <th style="border-left: 1px solid #dddddd; border-top: 1px solid #dddddd; border-right: 1px solid #dddddd;">Serviço</th>
                            <th style="border-left: 1px solid #dddddd; border-top: 1px solid #dddddd; border-right: 1px solid #dddddd;">Serviço</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody style="border-bottom: 1px solid #dddddd; border-top: 1px solid #dddddd;">
                    {% if proposaldetails|length <= 3 %}
                        <tr>
                            {% for proposaldetail in proposaldetails %}
                                <td style="border-left: 1px solid #dddddd; border-right: 1px solid #dddddd;">{{ proposaldetail.service }}</td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                    {% if proposaldetails|length >= 4 %}
                        {% for proposaldetail in proposaldetails %}
                            {% if forloop.counter == 1 %}
                                <tr>
                            {% endif %}
                            <td style="border-left: 1px solid #dddddd; border-right: 1px solid #dddddd; border-bottom: 1px solid #dddddd;">{{ proposaldetail.service }}</td>
                            {% if forloop.counter|divisibleby:3 %}
                                </tr>
                            {% endif %}
                            {% if not forloop.last and forloop.counter|divisibleby:3 %}
                                <tr>
                            {% elif forloop.last and not forloop.counter|divisibleby:3 %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table><br>
            <hr class="style15">
            <h5><strong>Atendente:</strong> {{ proposal.attendant|title }}</h5><br><br>
        </div> <!-- /.col -->
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-xs-6">
        <p class="lead">Formas de Pagamento:</p>
          <h4>A Vista</h4>
          {% for method in payment_methods %}
            {% if method.installments == 1 %}
              {% if method.payment_method.image %}
                <img src="{{ method.payment_method.image.url }}" alt="{{ method.payment_method.name }}"><br/>
              {% else %}
                {{ method.payment_method.name }}
              {% endif %}
            {% endif %}
          {% endfor %}
          <h4>Parcelado</h4>
          {% for method in payment_methods %}
            {% if method.installments > 1 %}
              {% if method.payment_method.image %}
                <img src="{{ method.payment_method.image.url }}" alt="{{ method.payment_method.name }}"> - Parcelado
                {{ method.installments }}x<br/>
              {% else %}
                {{ method.payment_method.name }}
              {% endif %}
            {% endif %}
          {% endfor %}
        <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
          Verifique as condições de pagamento.
        </p>
      </div> <!-- /.col -->
      <div class="col-xs-6">
        <p class="lead">Vencimento da Proposta {{ payment_due|date:"d/m/Y" }}</p>

        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:50%;">Subtotal:</th>
              <td>R${{ proposal.total|floatformat:2|real }}</td>
            </tr>
            <tr>
              <th>Desconto ({{ proposal.discount }}%)</th>
              <td>R${{ proposal.discount_total|floatformat:2|real }}</td>
            </tr>
            <tr>
              <th>Total:</th>
              <td>R${{ proposal.total2|floatformat:2|real }}</td>
            </tr>
          </table>
        </div>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section> <!-- /.invoice -->
</div> <!-- ./wrapper -->
</body>
</html>