{% extends 'main/base.html' %}

{% load staticfiles %}

{% load custom_tags %}

{% block page_title %} Propostas {% endblock %}

{% block aditional_head %} {% endblock %}

{% block breadcrumb-clean %} {% endblock %}

{% block breadcrumb %}

	<i class="fa fa-home"></i>

	{{ block.super }}

	{% load breadcrumb_tags %}

	{% add_crumb 'Propostas' 'propostas' %}

{% endblock %}

{% block page-header %} Propostas {% endblock page-header %}

{% block page-sub-header %} última proposta de cada cliente {% endblock page-sub-header %}

{% block messages %}

{% endblock messages %}

{% block content %}
  <section class="content">
  	<div class="row">
			<div class="col-xs-12">
	      <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Propostas</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive">
            <table id="proposal-table" class="table table-bordered table-striped">
              <thead>
              	<tr>
              		<th>Proposta</th>
	              	<th>Cod. Cliente</th>
									<th>Data Envio</th>
									<th>Nome</th>
									<th>Telefone</th>
									<th>Casamento</th>
									<th>Retorno</th>
									<th>Status</th>
									<th>Contrato</th>
									<th class="hidden">Hidden Field To Order By Date Return</th>
									<th class="hidden">Hidden Field To Order By Date Wedding</th>
	              </tr>
              </thead>
              <tbody>
              	{% for proposal in proposals %}
              		<tr {% if proposal.order.date_return < today and proposal.order.status != '3' and proposal.order.status != '4' %} class="danger" {% elif proposal.order.status == '3' or proposal.order.status == '4' %} class="order-inactive" {% endif %}>
              			<td><a href="{% url 'proposta_detalhes' proposal.order.id proposal.id %}">{{ proposal.id }}</a></td>
										<td><a href="{% url 'cliente' proposal.order.id %}">{{ proposal.order.id }}</a></td>
										<td>{% if proposal.proposal_date_sent %}{{ proposal.proposal_date_sent|date:"d/m/Y" }}{% else %}Não enviado{% endif %}</td>
										<td>{{ proposal.order.name }}</td>
										<td>{{ proposal.order.phone }}</td>
										<td>{{ proposal.order.date_wedding|date:"d/m/Y" }}</td>
										<td>{{ proposal.order.date_return|date:"d/m/Y" }}</td>
										<td>
											{% if proposal.order.status == '0' %}
												<span class="hidden">{{ proposal.order.status }}</span> Enviado
											{% elif proposal.order.status == '1' %}
											  <span class="hidden">{{ proposal.order.status }}</span> Negociando
											{% elif proposal.order.status == '2' %}
												<span class="hidden">{{ proposal.order.status }}</span> Fechamento
											{% elif proposal.order.status == '3' %}
												<span class="hidden">{{ proposal.order.status }}</span> Venda Realizada
											{% elif proposal.order.status == '4' %}
												<span class="hidden">{{ proposal.order.status }}</span> Venda Perdida
											{% endif %}
										</td>
										<td>
											{% if proposal.contract == None or proposal.contract == ''%}
												<div class="text-center">
													<i class="fa fa-close"></i>
												</div>
											{% elif proposal.contract %}
												<div class="text-center">
													<a target="_blank" href="{{ proposal.contract.url }}"><i class="fa fa-check"></i></span></a>
												</div>
											{% endif %}
										</td>
										<td class="hidden">{{ proposal.order.date_return|date:"Y/m/d" }}</td>
										<td class="hidden">{{ proposal.order.date_wedding|date:"Y/m/d" }}</td>
									</tr>
								{% endfor %}
              </tbody>
              <tfoot>
                <tr>
					<th>Proposta</th>
					<th>Cod. Cliente</th>
					<th>Data Envio</th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Casamento</th>
					<th>Retorno</th>
					<th>Status</th>
					<th>Contrato</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div> <!-- /.col-xs -->
    </div> <!-- /.container -->
  </section	>
  <!-- /.content -->
{% endblock content %}

{% block extrascript %}
	<script>
	  $(function () {
	    $('#proposal-table').DataTable({
	    	'paging'      : true,
	      'lengthChange': true,
	      'searching'   : true,
	      'ordering'    : true,
	      'info'        : true,
	      'autoWidth'   : false,
	      'order': [[7, 'asc'], [9, 'asc']]
	    })
	  })
	</script>
{% endblock extrascript %}