{% extends 'main/base.html' %}

{% load i18n %}

{% load staticfiles %}

{% load custom_tags %}

{% block breadcrumb-clean %} {% endblock breadcrumb-clean %}

{% block breadcrumb %}

	{{ block.super }}

	{% load breadcrumb_tags %}

	<i class="fa fa-home"></i>

	{% add_crumb 'Serviços' 'servicos' %}

{% endblock %}

{% block page-header %} Serviços {% endblock page-header %}

{% block page-sub-header %} visualizar e editar serviços {% endblock page-sub-header %}

{% block messages %}
	{% if success %}
		<div class="alert alert-success fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> {{ success.title }}</h4>
			{{ success.message }} <em>{{ success.object }}</em>
		</div>
	{% endif %}
	{% if error %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> {{ error.title }}</h4>
			{{ error.message }} <em>{{ error.object }}</em>
		</div>
	{% endif %}
	{% if messages %}
		{% if 'delete' in messages %}
			<div class="alert alert-warning fade in">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<h4><i class="icon fa fa-check"></i> Serviço deletado com sucesso!</h4>
				Serviço: <em>{{ messages.delete }}</em>
			</div>
		{% endif %}
	{% endif %}
	{% if serviceform.errors %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-ban"></i> Erro! Verifique os campos abaixo.</h4>
			<ul>
				{% for error in serviceform.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock messages %}

{% block content %}
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Serviços</h3>
						<span class="pull-right">
							<a href="{% url 'criar_servico' %}" class="btn btn-block btn-success"><i class="fa fa-plus"></i> Novo Serviço</a>
						</span>
					</div>
					<!-- /.box-header -->
					<div class="box-body table-responsive">
						<table id="services-table" class="table table-bordered table-striped">
						  <thead>
							<tr>
								<th>ID</th>
								<th>Serviço</th>
								<th>Preço Atual</th>
								<th>Obrigatório</th>
								<th>Ativo</th>
							  </tr>
						  </thead>
						  <tbody>
								{% for service in services %}
									<tr>
										<td><a href="{% url 'editar_servico' service.id %}">{{ service.id }}</a></td>
										<td><a href="{% url 'editar_servico' service.id %}">{{ service.name }}</a></td>
										<td>R${{ service.price }}</td>
										<td class="text-center">
											<form method="POST" action=""> {% csrf_token %}
												{% if service.required %}
													<span class="hidden">0</span>
													<button type="submit" name="change_service_required" value="{{ service.id }}" class="btn btn-clean">
														<i class="fa fa-check text-success"></i>
													</button>
												{% else %}
													<span class="hidden">1</span>
													<button type="submit" name="change_service_required" value="{{ service.id }}" class="btn btn-clean">
														<i class="fa fa-close text-red"></i>
													</button>
												{% endif %}
											</form>
										</td>
										<td class="text-center">
											<form method="POST" action=""> {% csrf_token %}
												{% if service.active %}
													<span class="hidden">0</span>
													<button type="submit" name="change_service_active" value="{{ service.id }}" class="btn btn-clean">
														<i class="fa fa-check text-success"></i>
													</button>
												{% else %}
													<span class="hidden">1</span>
													<button type="submit" name="change_service_active" value="{{ service.id }}" class="btn btn-clean">
														<i class="fa fa-close text-red"></i>
													</button>
												{% endif %}
											</form>
										</td>
									</tr>
								{% endfor %}
						  </tbody>
						  <tfoot>
						  </tfoot>
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div> <!-- /.col-xs -->
		</div> <!-- /.container -->
	</section	>
	<!-- /.content -->
{% endblock content %}

{% block extrascript %}
	<script>
	  $(function () {
		$('#services-table').DataTable({
			'paging'      : true,
			'lengthChange': true,
			'searching'   : true,
			'ordering'    : true,
			'info'        : true,
			'autoWidth'   : false,
			'order': [[0, 'desc'], [1, 'asc']]
		})
	  })
	</script>
{% endblock extrascript %}