{% extends 'indika/base.html' %}
{% load staticfiles %}
{% block aditional_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'indika/faq.css' %}">
{% endblock aditional_head %}

{% block budget %} {% endblock budget %}

{% block page_title %}Termos e Condi&ccedil;&otilde;es{% endblock %}

{% block left_menu %}

{% endblock left_menu %}

{% block center %}
	<div class='user_content'> 
		<span style='font-size: 16px; margin-left: 20px; font-weight: 600;'>Termos e Condi&ccedil;&otilde;es</span><br><br>
			<div class='accordion'>
				{% for f in termos %}
					<h3><button class='link'>{{ forloop.counter }}- {{ f.title }}</button></h3>
					<div style='margin-left: 20px;'>
						<p>
							{% autoescape off %}
								{{ f.text }}
							{% endautoescape %}
						</p>
					</div>
				{% endfor %}
			</div>
		
	</div>
{% endblock center %}

