{% extends 'main/base.html' %}

{% load i18n %}

{% load staticfiles %}

{% load custom_tags %}

{% block breadcrumb-clean %}{% endblock breadcrumb-clean %}

{% block breadcrumb %}

	{{ block.super }}

	{% load breadcrumb_tags %}

	<i class="fa fa-home"></i>

	{% add_crumb 'Usuários' 'usuarios' %}

{% endblock %}

{% block page-header %} Usuários {% endblock page-header %}

{% block page-sub-header %} visualizar e editar informações {% endblock page-sub-header %}

{% block messages %}
	{% if success %}
		<div class="alert alert-success fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> {{ success.title }}</h4>
			{{ success.message }} <em>{{ success.object }}</em>
		</div>
	{% endif %}
	{% if error %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-check"></i> {{ error.title }}</h4>
			{{ error.message }} <em>{{ error.object }}</em>
		</div>
	{% endif %}
	{% if messages %}
		{% if 'delete' in messages %}
			<div class="alert alert-warning fade in">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<h4><i class="icon fa fa-check"></i> Usuário deletado com sucesso!</h4>
				Usuário: <em>{{ messages.delete }}</em>
			</div>
		{% endif %}
	{% endif %}
	{% if userform.errors %}
		<div class="alert alert-danger fade in">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<h4><i class="icon fa fa-ban"></i> Erro! Verifique os campos abaixo.</h4>
			<ul>
				{% for error in userform.errors %}
					<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock messages %}

{% block content %}
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-primary">
					<div class="box-header">
						<h3 class="box-title">Usuários</h3>
						<span class="pull-right">
							<a href="{% url 'criar_usuario' %}" class="btn btn-block btn-success"><i class="fa fa-plus"></i> Novo Usuário</a>
						</span>
					</div>
					<!-- /.box-header -->
					<div class="box-body table-responsive">
						<table id="users-table" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Usuário</th>
									<th>Nome Completo</th>
									<th>Email</th>
									<th>Criado Em</th>
									<th>Admin</th>
									<th>Ativo</th>
								</tr>
							</thead>
							<tbody>
								{% for person in persons %}
									<tr>
										<td><a href="{% url 'editar_usuario' person.user.id %}">{{ person.user.username }}</a></td>
										<td>{{ person.user.get_full_name }}</td>
										<td>{{ person.user.email }}</td>
										<td>{{ person.user.date_joined|date:"m/d/Y" }}</td>
										<td class="text-center">
											<form method="POST" action=""> {% csrf_token %}
												{% if person.admin %}
													<span class="hidden">0</span>
													<button type="submit" name="change_person_admin" value="{{ person.id }}" class="btn btn-clean">
														<i class="fa fa-check text-success"></i>
													</button>
												{% else %}
													<span class="hidden">1</span>
													<button type="submit" name="change_person_admin" value="{{ person.id }}" class="btn btn-clean">
														<i class="fa fa-close text-red"></i>
													</button>
												{% endif %}
											</form>
										</td>
										<td class="text-center">
											<form method="POST" action=""> {% csrf_token %}
												{% if person.user.is_active %}
													<span class="hidden">0</span>
													<button type="submit" name="change_person_active" value="{{ person.id }}" class="btn btn-clean">
														<i class="fa fa-check text-success"></i>
													</button>
												{% else %}
													<span class="hidden">1</span>
													<button type="submit" name="change_person_active" value="{{ person.id }}" class="btn btn-clean">
														<i class="fa fa-close text-red"></i>
													</button>
												{% endif %}
											</form>
										</td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>

							</tfoot>
						</table>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div> <!-- /.col-xs -->
		</div> <!-- /.container -->
	</section	>
	<!-- /.content -->
{% endblock content %}

{% block extrascript %}
	<script>
		$(function () {
			$('#users-table').DataTable({
				'paging'      : true,
				'lengthChange': true,
				'searching'   : true,
				'ordering'    : true,
				'info'        : true,
				'autoWidth'   : false,
				'order': [[5, 'asc'], [0, 'asc']]
			})
		})
	</script>
{% endblock extrascript %}