/*Vars*/

/*Margins*/
.top-12 {
	margin-top: 12px;
}
.bottom-12 {
	margin-bottom: 12px;
}

/*Styles*/
hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.style15:after {
	content: "§";
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}
.table .order-inactive {
	color: #a4a4a4;
	text-decoration: line-through;
}
.box-content .display {
	display: block;
}

.fa-plus-box {
	display: none;
}
.messages > .container {
    float: left!important;
}
